page {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		background-color: #fff;
	}
.content{
	position: relative;
	max-width: 350px;
	flex: 1;
	padding: 140px 35px 0;
	margin: 0 auto;
	overflow: hidden;
	/* background-color: #F5F5F5; */
}
.input-box{
	padding:0 15px;
	margin-bottom: 10px;
	background-color: #F8F8F8;
	border-radius: 6px;
	font-size: 28rpx;
}
.get-code{
	margin: 0;
	margin-top:15px;
	background-color: #007aff;
	color: #FFFFFF;
}
.input-box,.get-code{
	height: 45px;
	line-height: 45px;
}
.title{
	text-align: center;
	padding-bottom: 5px;
}
.tip{
	color: #666666;
	font-size: 26rpx;
	margin: 6px 0;
}
.easyinput{
	background-color: #F8F8F8;
	border-radius: 6rpx;
}
.send-btn{
	width: 100%;
	margin-top:15px;
	border-radius: 6rpx;
}
.link{
	color: #04498c;
}