<!-- This page is to set the quiz information after clicking on the 'New' button in questionnaire list page -->
<template>
	<view class="uni-container">
<uni-forms ref="form" :value="formData" validateTrigger="bind">
			<uni-forms-item name="title" label="QuizName" required>
				<uni-easyinput v-model="formData.title" trim="both" />
			</uni-forms-item>
			<uni-forms-item name="anonymous" label="Anonymous">
				<switch @change="binddata('anonymous', $event.detail.value)" :checked="formData.anonymous" />
			</uni-forms-item>
			<uni-forms-item name="canedit" label="Answer Changeable">
				<switch @change="binddata('canedit', $event.detail.value)" :checked="formData.canedit" />
			</uni-forms-item>
			<uni-forms-item name="deadline" label="Deadline">
				<uni-datetime-picker return-type="timestamp" v-model="formData.deadline" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button type="primary" class="uni-button" style="width: 100px;" @click="submit">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;">
					<button class="uni-button" style="width: 100px;">Return</button>
				</navigator>
			</view>
		</uni-forms>
	</view>
</template>

<script>
	import {
		validator
	} from '../../js_sdk/validator/opendb-vote-questionnaire.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'grp-vote-questionnaire';

	function getValidator(fields) {
		let reuslt = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				reuslt[key] = validator[key]
			}
		}
		return reuslt
	}

	export default {
		data() {
			return {
				formData: {
					"title": "",
					"anonymous": false,
					"deadline": null,
					"canedit":false
				},
				formOptions: {},
				rules: {
					...getValidator(["title", "anonymous", "deadline","canedit"])
				}
			}
		},
		onReady() {
			this.$refs.form.setRules(this.rules)
		},
		methods: {
			/**
			 * trigger form data submit action
			 */
			submit() {
				uni.showLoading({
					mask: true
				})
				this.$refs.form.submit().then((res) => {
					this.submitForm(res)
				}).catch((errors) => {
					uni.hideLoading()
				})
			},

			submitForm(value) {
				// use clientDB to submit data
				db.collection(dbCollectionName).add(value).then((res) => {
					uni.showToast({
						title: 'Add successfully'
					})
					setTimeout(() => uni.navigateTo({
						url: "./list"
					}), 800)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'service application failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			}
		}
	}
</script>
