<!-- This page is for students to attempt quiz.-->
<template>
	<view class="article">
		<!-- #ifdef APP-PLUS -->
		<!-- <uni-nav-bar :statusBar="true" :border="false"></uni-nav-bar> -->
		<!-- #endif -->
		<uni-title type="h2" align="center" color="#027fff" :title="title"></uni-title>
		<uni-card :title="(index+1)+'. '" v-for="(item,index) in questionList" :key="index"
			:extra="item.is_required==true?'required':''">
			<view v-if="item.picture_url">
				<image :src="item.picture_url" mode="aspectFit"></image>
			</view>
			<text class="title" style="flex-wrap: wrap;font-size: 16px;">{{item.title}}</text>
			<uni-forms :modelValue="item" ref="form">
				<uni-forms-item v-if="item.type=='radio'" class="mt20">
					<uni-data-checkbox :mode="mode" v-model="item.select" :localdata="item.optionList" :icon="icon">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item v-if="item.type=='checkbox'" class="mt20">
					<uni-data-checkbox :mode="mode" multiple v-model="item.selectList" :localdata="item.optionList">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item v-if="item.type=='radioinput'" class="mt20">
					<uni-data-checkbox v-model="item.select" :localdata="item.optionList"
						@change="changeSelect($event,index)">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item v-if="item.type=='checkboxinput'" class="mt20">
					<uni-data-checkbox :mode="mode" multiple v-model="item.selectList" :localdata="item.optionList"
						@change="changeSelect2($event,index)">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item label="other" name="other"
					v-if='(item.type=="radioinput"&&item.select=="other")||(item.type=="checkboxinput"&&item.selectList.indexOf("other")!=-1)'
					label-width="40">
					<input type="text" v-model="item.other" class="detail_input" />
				</uni-forms-item>
				<uni-forms-item name="other" class="mt20" v-if="item.type=='input'" label-width="500">
					<input style="border-width: 1px;background-color: #EDEDED;width: 10000px;height: 20px;" type="text"
						v-model="item.other" class="detail_input" :border="true" />
				</uni-forms-item>
			</uni-forms>
		</uni-card>
		<view class="uni-padding-wrap uni-common-mt" v-if="questionList.length>0">
			<button type="primary" @click="onSave">Submit</button>
		</view>
	</view>
</template>
<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-question.js';
	import {
		request
	} from '@/common/request.js';
	import {
		mapGetters
	} from 'vuex'; // paging configuration
	const pageSize = 20
	const pageCurrent = 1

	const db = uniCloud.database()
	const dbCmd = db.command
	export default {
		data() {
			return {
				quizRecord: [],
				uid: '',
				id: '', // Quiz id
				title: '', // Quiz name
				questionList: [],
				query: '',
				where: '',
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				currentAnswer: '',
			}
		},
		computed: {
			// ...mapState('user', ['userInfo']),
			...mapGetters({
				'userInfo': 'user/info',
				'hasLogin': 'user/hasLogin',
			})
		},
		async onLoad(e) {
			this.uid = e.attendee_id
			this.title = e.questionnaire_title
			this.id = e.questionnaire_id
			await this.loadData()
		},
		methods: {
			changeSelect(res, index) {
				this.$set(this.questionList[index], 'select', res.detail.data.value);
				this.$forceUpdate();
			},
			changeSelect2(res, index) {
				this.$set(this.questionList[index], 'selectList', res.detail.value);
				this.$forceUpdate();
			},
			async loadData(data) {
				if (this.title == '' && data[0].title) {
					this.title = data[0].title
					uni.setNavigationBarTitle({
						title: data[0].title
					});
				}

				const res = await request('uni-vote', 'getAireContent', {
					id: this.id
				}, {
					showLoading: true,
				});
				// compare current time with quiz deadline, if exceeds, show prompt and return
				const now = Date.now();
				if (res.deadline < now) {
					uni.showToast({
						title: 'The quiz has been closed.',
						icon: 'none',
						duration: 1200
					})

					setTimeout(() => uni.navigateBack(), 1200)

					return;
				}
				for (var i = 0; i < res.questionList.length; i++) {
					this.questionList.push({
						title: res.questionList[i].title
					});
					var optionList = [];
					for (var j = 0; j < res.questionList[i].optionList.length; j++) {
						optionList.push({
							text: res.questionList[i].optionList[j].title,
							value: res.questionList[i].optionList[j]._id,
							is_correct: res.questionList[i].optionList[j].is_correct
						})
					}
					if (res.questionList[i].type == 'radioinput' || res.questionList[i].type == 'checkboxinput') {
						optionList.push({
							text: "others",
							value: "other",
							is_correct: false
						})
					}
					this.questionList[i].picture_url = res.questionList[i].picture_url;
					this.questionList[i].id = res.questionList[i]._id;
					this.questionList[i].type = res.questionList[i].type;
					this.questionList[i].questionType = res.questionList[i].questionType;
					this.questionList[i].is_required = res.questionList[i].is_required;
					this.questionList[i].description = res.questionList[i].description;
					this.questionList[i].optionList = optionList;
					this.questionList[i].select = '';
					this.questionList[i].selectList = [];
					this.questionList[i].other = '';
				}
				console.log('questionList:', this.questionList);
			},
			// save the attempt record by submitting answer record of each question to a log database 
			// with combined quiz,quesiton,user id as identification
			async onSave() {
				var req = [];
				var hasVote = false;
				for (var i = 0; i < this.questionList.length; i++) {
					//reuired verification
					if (this.questionList[i].is_required && this.questionList[i].select == "" && this.questionList[i]
						.selectList.length == 0 && this.questionList[i].other == "") {
						uni.showToast({
							icon: 'none',
							title: 'Question No. ' + (i + 1) + " is required!"
						})
						return;
					}
					var answerOption = [];
					var correctOption = [];
					for (var j = 0; j < this.questionList[i].optionList.length; j++) {
						if (this.questionList[i].optionList[j].is_correct) {
							correctOption.push(this.questionList[i].optionList[j].value.trim())
						}
					}
					correctOption = correctOption.sort();
					switch (this.questionList[i].type) {
						case "radio":
							answerOption.push(this.questionList[i].select);
							break;
						case "checkbox":
							answerOption = this.questionList[i].selectList.filter(function(s) {
								return s && s.trim();
							}).sort();
							break;
						case "input":
							answerOption.push(this.questionList[i].other.trim());
							break;
						case "radioinput":
							answerOption.push(this.questionList[i].select);
							answerOption = answerOption.filter(function(s) {
								return s && s.trim();
							}).sort();
							break;
						case "checkboxinput":
							answerOption = this.questionList[i].selectList;
							answerOption = answerOption.filter(function(s) {
								return s && s.trim();
							}).sort();
							break;
						default:
							break;
					}
					// push each answered question record into a list and prepare for batch submission
					req.push({
						user_id: this.uid,
						questionnaire_id: this.id,
						question_id: this.questionList[i].id,
						option_id: answerOption,
						option_other: this.questionList[i].other.trim(),
						is_correct: answerOption.toString().toLocaleLowerCase() == correctOption.toString()
							.toLocaleLowerCase()
					});
					if (!hasVote) {
						if (this.questionList[i].questionType == 'vote')
							hasVote = true;
					}
				}
				const res = await request('uni-vote', 'saveAire', req, {
					showLoading: true,
					isAuth: this.isAuth
				});

				setTimeout(() => uni.navigateBack(), 100)

			},
		}
	}
</script>

<style>
	.answers {
		border-color: #C0C0C0;
	}
</style>
