<!-- This is a simple component returning the number of correct records of current quiz, attended by current user. -->
<template>
	<view>
		{{count}}
	</view>
</template>

<script>
	export default {
		name: 'logCount',
		props: {
			questionnaire_id: {
				type: String,
				default: ""
			},
			user_id: {
				type: String,
				default: ""
			}
		},
		data() {
			return {
				count: 0
			};
		},
		async created() {
			await this.init()
		},
		methods: {
			async init() {
				const db = uniCloud.database()
				const res = await db.collection('grp-vote-log')
					.where({
						"questionnaire_id": this.questionnaire_id,
						"user_id": this.user_id,
						"is_correct": true
					})
					.get({
						getCount: true
					})
				console.log("res", res.result.count);
				this.count = res.result.count;
			}
		}
	}
</script>
