<!-- This page displays the list of all quizzes exclusive to teachers, providing users attending and viewing result options 
	 Manager can see all quizzes in this page-->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
			<view class="uni-group">
				<button class="uni-button" type="default" size="mini" @click="navigateTo('./add')">New</button>
				<button class="uni-button" type="default" size="mini" :disabled="!selectedIndexs.length"
					@click="delTable">Multi-Delete</button>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" collection="grp-vote-questionnaire"
				field="_id, create_uid, title,anonymous,deadline,canedit" :where="teacherWhere" page-data="replace"
				:orderby="orderby" :getcount="true" :page-size="options.pageSize" :page-current="options.pageCurrent"
				v-slot:default="{data,pagination,loading,error,options}" :options="options" loadtime="manual">
				<uni-table ref="table" :loading="loading" :emptyText="error.message || 'No more data!'" border stripe
					type="selection" @selection-change="selectionChange">
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center" sortable @sort-change="sortChange($event, 'title')">Quiz Name</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'anonymous')">Allow Anonymous
						</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'canedit')">Allow Change answer
						</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'deadline')">Deadline</uni-th>
						<uni-th align="center" sortable>Participants</uni-th>
						<uni-th align="center">Operation</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center">
							<view
								@click="navigateTo('/pages/opendb-vote-question/list?questionnaire_id=' + item._id + '&questionnaire_title=' + item.title)">
								<text style="text-decoration:underline">
									{{item.title}}
								</text>
							</view>
						</uni-td>
						<uni-td align="center"> {{item.anonymous == true ? '✅' : '❌'}} </uni-td>
						<uni-td align="center"> {{item.canedit == true ? '✅' : '❌'}} </uni-td>
						<uni-td align="center">
							<uni-dateformat :date="item.deadline" :threshold="[0, 0]" />
						</uni-td>
						<uni-td align="center">
							<log-count ref="logCount" :id="item._id" />
						</uni-td>
						<uni-td align="center">
							<view class="uni-group">
								<button @click="navigateTo('./edit?id='+item._id, false)" class="uni-button" size="mini"
									type="primary">Modify</button>
								<button
									@click="navigateTo('./userList?id='+item._id+'&questionnaire_title=' + item.title, false)"
									class="uni-button" size="mini" type="primary">Record</button>
								<button @click="confirmDelete(item._id)" class="uni-button" size="mini"
									type="warn">Delete</button>
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>

	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-questionnaire.js';
	import
	logCount
	from './logCount.vue';

	import {
		mapState
	} from 'vuex'
	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = '' // sorted field
	const dbSearchFields = [] // searching field list
	// paging configuration
	const pageSize = 20
	const pageCurrent = 1

	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	const dbCmd = db.command;
	const collection_search = db.collection('grp-student-quiz-history')
	const collection_quiz_list = db.collection('grp-vote-questionnaire')

	export default {
		components: {
			"log-count": logCount
		},
		data() {
			return {
				query: '',
				searchName: '', //bind with the name of the quiz in student search column
				teacherWhere: '',
				studentWhere: '',
				searchQuizId: {
					questionnaire_title: '',
				},
				studentSearch: {
					questionnaire_id: '111',
					user_id: '',
				}, // submitted to the grp-student-quiz-history db to allow student accessing the quiz
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				role: "admin",
				isStudent: false,
				notStudent: true,
			}
		},

		computed: {
			...mapState('user', ['userInfo']),

		},
		onReady() {
			// userInfo.role.indexOf("admin") equals 0, it is the manager
			if (this.userInfo.role.indexOf("admin") === -1) {
				this.teacherWhere = "create_uid=='" + this.userInfo._id + "'";
			}
		},
		onLoad() {

			this.$nextTick(() => {
				this.$refs.udb.loadData()
			})
		},
		methods: {
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			//teacher searching the quiz
			search() {
				const newWhere = this.getWhere()
				this.where = newWhere
			},
			onPageChanged(e) {
				this.selectedIndexs.length = 0
				this.$refs.table.clearSelection()
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multiple choice question
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			// delete multiple questions selected
			delTable() {
				this.$refs.udb.remove(this.selectedItems())
			},
			// multiple questions selected
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(id) {
				this.$refs.udb.remove(id)
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$refs.table.clearSelection()
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
</style>
