<!-- This page displays the list of all quizzes exclusive to students, providing users attending and viewing result options -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
			<view class="uni-group">
				<!-- students can add new quiz to the table to attempt by searching the name of the quiz -->
				<input class="uni-search" type="text" v-model="searchName" @confirm="searchQuiz"
					placeholder="Quiz Name" />
				<button class="uni-button" type="default" size="mini" @click="searchQuiz">Search</button>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" collection="grp-student-quiz-history, grp-vote-questionnaire"
				field="questionnaire_id{_id,title,anonymous,deadline,canedit},user_id" :where="studentWhere"
				page-data="replace" :orderby="orderby" distinct="true" :getcount="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error,options}"
				:options="options" loadtime="manual">
				<uni-table ref="table" :loading="loading" :emptyText="error.message || 'No more data!'" border stripe
					type="selection" @selection-change="selectionChange">
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center" sortable @sort-change="sortChange($event, 'title')">Quiz Name</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'anonymous')">Allow Anonymous
						</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'canedit')">Allow Change answer
						</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'deadline')">Deadline</uni-th>
						<uni-th align="center" sortable>Participants</uni-th>
						<uni-th align="center">Operation</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center">
							<view>
								<text>
									{{item.questionnaire_id[0].title}}
								</text>
							</view>
						</uni-td>
						<uni-td align="center"> {{item.questionnaire_id[0].anonymous == true ? '✅' : '❌'}} </uni-td>
						<uni-td align="center"> {{item.questionnaire_id[0].canedit == true ? '✅' : '❌'}} </uni-td>
						<uni-td align="center">
							<uni-dateformat :date="item.questionnaire_id[0].deadline" :threshold="[0, 0]" />
						</uni-td>
						<uni-td align="center">
							<log-count ref="logCount" :id="item.questionnaire_id[0]._id" />
						</uni-td>
						<uni-td align="center">
							<view>
								<button
									@click="navigateTo('/pages/opendb-vote-questionnaire/attend?questionnaire_id=' + item.questionnaire_id[0]._id + '&questionnaire_title=' + item.questionnaire_id[0].title + '&attendee_id=' + userInfo._id,false)"
									class="uni-button" size="mini" type="primary">Attend</button>
								<button style="margin-left: 20px;"
									@click="navigateTo('/pages/opendb-vote-questionnaire/result?questionnaire_id=' + item.questionnaire_id[0]._id + '&questionnaire_title=' + item.questionnaire_id[0].title + '&attendee_id=' + userInfo._id,false)"
									class="uni-button" size="mini" type="primary">Result</button>
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>
	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-questionnaire.js';
	import
	logCount
	from './logCount.vue';

	import {
		mapState
	} from 'vuex'
	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = '' // sorted field
	const dbSearchFields = [] // searching field list
	// paging configuration
	const pageSize = 20
	const pageCurrent = 1

	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	const dbCmd = db.command;
	const collection_search = db.collection('grp-student-quiz-history')
	const collection_quiz_list = db.collection('grp-vote-questionnaire')

	export default {
		components: {
			"log-count": logCount
		},
		data() {
			return {
				query: '',
				searchName: '', //bind with the name of the quiz in student search column
				teacherWhere: '',
				studentWhere: '',
				searchQuizId: {
					questionnaire_title: '',
				},
				studentSearch: {
					questionnaire_id: '111',
					user_id: '',
				}, // submitted to the grp-student-quiz-history db to allow student accessing the quiz
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				role: "admin",
				isStudent: false,
				notStudent: true,
				res: ''
			}
		},

		computed: {
			...mapState('user', ['userInfo']),

		},
		onReady() {
			this.role = this.userInfo.role
		},
		onLoad() {
			this.studentWhere = "user_id == '" + this.userInfo._id + "'";
			this.$nextTick(() => {
				this.$refs.udb.loadData()
			})
		},
		methods: {
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			//teacher searching the quiz
			search() {
				const newWhere = this.getWhere()
				this.where = newWhere
				this.loadData()
			},
			// student input quiz id to get corresponding quiz 
			searchQuiz() {
				// prepare the date that is to be uploaded
				this.studentSearch.user_id = this.userInfo._id
				this.searchQuizId.questionnaire_title = this.searchName
				this.searchQId()
			},
			async searchQId() {
				var that = this
				uniCloud.callFunction({
					name: "find-quiz-id",
					data: that.searchQuizId,
					success(res) {
						var result = res.result
						if (result.code !== 20) {
							that.studentSearch.questionnaire_id = result
							that.uploadRecord()

						} else {
							uni.showModal({
								content: result.msg,
								showCancel: false
							});
						}
					},
				})
			},
			async uploadRecord() {
				var that = this
				var res = await collection_search.where({
					questionnaire_id: that.studentSearch.questionnaire_id,
					user_id: that.studentSearch.user_id
				}).get()
				if (res.result.affectedDocs === 0) {
					var res1 = await collection_quiz_list.where({
						"_id": that.studentSearch.questionnaire_id
					}).get()
					var res2 = await collection_search.add({
						questionnaire_id: that.studentSearch.questionnaire_id,
						user_id: that.studentSearch.user_id
					}).then((res2) => {
						uni.showToast({
							title: "Successfully added."
						});
					})
					this.$refs.udb.loadData()
				} else {
					uni.showToast({
						title: "The quiz has already been added to your list!",
						icon: 'none',
						duration: 2000
					})
				}
			},
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {

				this.selectedIndexs.length = 0
				this.$refs.table.clearSelection()
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multiple choice question processing
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			// delete multiple questions selected
			delTable() {
				this.$refs.udb.remove(this.selectedItems())
			},
			// multiple questions selected
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(id) {
				this.$refs.udb.remove(id)
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$refs.table.clearSelection()
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
</style>
