<!-- This page show teachers the general attending result of individual quiz. -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" collection="grp-vote-log, grp-vote-questionnaire, grp-vote-question, grp-vote-option"
				field="questionnaire_id{_id},question_id{_id,title as title, type},option_id{_id,title as title},user_id,is_correct,option_other, user_id"
				:where="recordWhere" page-data="replace" :orderby="orderby" :getcount="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error,options}"
				:options="options" loadtime="manual">
				<uni-table ref="table" :loading="loading" :emptyText="error.message || 'No more data'" border stripe>
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center">Question</uni-th>
						<uni-th align="center">Question type</uni-th>
						<uni-th align="center">Answer</uni-th>
						<uni-th align="center">Correct?</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center">
							{{item.question_id.length>0?item.question_id[0].title:""}} 
							
						</uni-td>
						<uni-td align="center">
							<view v-if="item.question_id[0].type =='radio'">single choice</view>
							<view v-if="item.question_id[0].type =='checkbox'">multi-choice</view>
							<view v-if="item.question_id[0].type !='checkbox' && item.question_id[0].type !='radio'">{{item.question_id[0].type}}</view>
						</uni-td>
						<uni-td align="center">
							{{item.option_other}}
							<view v-if="item.question_id[0].type =='radio'">
								<button
									@click="navigateTo('/pages/opendb-vote-option/list?question_id=' + item.question_id[0]._id + '&question_title=' + item.question_id[0].title)"
									class="uni-button" size="mini" type="primary">View Pie Chart</button>
								</view>
						</uni-td>
						<uni-td align="center">
							<view>
								{{item.is_correct == true ?'✅':'❌'}}
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>
	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-questionnaire.js';
	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = '' // sorted field
	// paging configuration
	const pageSize = 20
	const pageCurrent = 1

	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	export default {
		components: {},
		data() {
			return {
				recordWhere: '',
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				questionnaire_id: "",
				user_id: ""
			}
		},
		async onLoad(e) {
			this.questionnaire_id = e.questionnaire_id
			uni.setNavigationBarTitle({
				title: 'Record Detail [' + e.user_name + "]"
			})
			this.user_id = e.id
			this.recordWhere = "questionnaire_id[0]._id == '" + e.questionnaire_id + "' && " + "user_id == '" + e.id + "'"
		},
		onReady() {
			this.$refs.udb.loadData()
		},
		methods: {
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
</style>
