<!-- This page shows teachers the list of latest attempt record of each student -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" collection="grp-vote-log, uni-id-users, grp-vote-questionnaire"
				field="create_time,questionnaire_id{_id, anonymous, title},user_id{_id,username as name}" :where="where"
				page-data="replace" :orderby="orderby" :getcount="true" :distinct="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error,options}"
				:options="options" loadtime="manual">
				<uni-table ref="table" :loading="loading" :emptyText="error.message || 'No more data'" border stripe>
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center">username</uni-th>
						<uni-th align="center">correct</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'create_time')">submit time
						</uni-th>
						<uni-th align="center">detail</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center">
							{{item.questionnaire_id[0].anonymous==false?item.user_id[0].name:"anonymous"}}
						</uni-td>
						<uni-td align="center">
							<log-count ref="logCount" :user_id="item.user_id[0]._id"
								:questionnaire_id="item.questionnaire_id[0]._id" />

						</uni-td>
						<uni-td align="center">
							<uni-dateformat :date="item.create_time" :threshold="[0, 0]" />
						</uni-td>
						<uni-td align="center">
							<view class="uni-group">
								<button
									@click="navigateTo('./logList?id='+item.user_id[0]._id+'&user_name='+(item.questionnaire_id[0].anonymous==false?item.user_id[0].name:'Anonymous')+'&questionnaire_id='+ item.questionnaire_id[0]._id, false)"
									class="uni-button" size="mini" type="primary">Detail</button>
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>
	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-questionnaire.js';
	import
	correctCount
	from './correctCount.vue';
	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = '' // sorted field
	// paging configuration
	const pageSize = 20
	const pageCurrent = 1


	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	export default {
		components: {
			"log-count": correctCount
		},
		data() {
			return {
				where: '',
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				questionnaire_title: "",
				questionnaire_id: "",
				expExcel: {
					filename: "user.xls",
					type: "xls",
					json_fields: {
						"username": "username",
						"role": "role",
						"status": "status",
						"create time": "register_date"
					}, // excel file settings
				}
			}
		},
		async onLoad(options) {
			// accepting data transfered from previous page
			this.questionnaire_id = options.id;
			this.where = "questionnaire_id[0]._id=='" + this.questionnaire_id + "'";
			this.questionnaire_title = options.questionnaire_title;
			// set the page bar title to the corresponding quiz name
			uni.setNavigationBarTitle({
				title: "Quiz List[" + this.questionnaire_title + "]"
			})
		},
		onReady() {
			this.$refs.udb.loadData()
		},
		methods: {
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})

			},
			onPageChanged(e) {
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
</style>
