<!-- officially provided -->
<!-- used to add new permission for user roles-->
<template>
	<view class="uni-container">
		<uni-forms ref="form" validateTrigger="bind" :rules="rules" @submit="submit">
			<uni-forms-item name="permission_id" label="Permission Tag" required>
				<uni-easyinput v-model="formData.permission_id" :clearable="false" placeholder="Permission Tag" />
			</uni-forms-item>
			<uni-forms-item name="permission_name" label="Permission Name" required>
				<uni-easyinput v-model="formData.permission_name" :clearable="false" placeholder="Permission Name" />
			</uni-forms-item>
			<uni-forms-item name="comment" label="Comment">
				<uni-easyinput type="textarea" v-model="formData.comment" :clearable="false" placeholder="comment" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button style="width: 100px;" type="primary" class="uni-button" @click="submitForm">submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;"><button style="width: 100px;" class="uni-button">Return</button></navigator>
			</view>
		</uni-forms>
	</view>
</template>

<script>
	import validator from '@/js_sdk/validator/uni-id-permissions.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'uni-id-permissions';

	function getValidator(fields) {
		let result = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				result[key] = validator[key]
			}
		}
		return result
	}

	export default {
		data() {
			return {
				formData: {
					"permission_id": "",
					"permission_name": "",
					"comment": ""
				},
				rules: {
					...getValidator(["permission_id", "permission_name", "comment"])
				}
			}
		},
		methods: {
			/**
			 * trigger form submission
			 */
			submitForm() {
				this.$refs.form.submit();
			},

			/**
			 * form submission
			 * @param {Object} event callback value Function(callback:{value,errors})
			 */
			submit(event) {
				const {
					value,
					errors
				} = event.detail

				// form verification failure will be report to users, end the submission progress
				if (errors) {
					return
				}
				uni.showLoading({
					title: 'Submitting...',
					mask: true
				})
				// use uni-clientDB to submit data
				db.collection(dbCollectionName).add(value).then((res) => {
					uni.showToast({
						title: 'Add successfully'
					})
					setTimeout(() => uni.navigateBack(), 500)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'service query failed.',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			}
		}
	}
</script>
