/*
Theme Name: City Square Theme
Author URI: http://webthemez.com/
Description: This theme is a pretty versatile, that places the emphasis of the home page. It would be great for a corporate websites, business websites, personal blog.
License: Free to use for personal and commercial, but you need to place back link in the bottom of the template.
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,500);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

body {
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    background: #E4E4E4;
}

::selection {
    color: #fff;
    background: #8FAADC;
}

::-moz-selection {
    color: #fff;
    background: #8FAADC;
}

p {
    color: #858585;
}

.pDark p {
    color: #6D6D6D;
}

.pDark h3 {
    color: #BEBEBE;
}

.btn, .form-control, .team-socials i {
    border-radius: 5px !important;
}

.button-outline {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(255,255,255,0.15);
}

    .button-outline:hover {
        color: #fff;
        background: rgba(255,255,255,0.35);
    }

a {
    color: #8FAADC;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

    a:hover {
        color: #DF3927;
        text-decoration: none;
    }

.btn {
    border: 0px;
    border-radius: 0px;
}

    .btn:hover {
        background: #6EAA00;
    }

.btn-primary {
    background: #8FAADC;
}

.form-control {
    border-radius: 0px;
}

.mrgn30 {
    margin: 30px 0;
}

.copyright {
    color: #6D6D6D;
    background: #E9E9E9;
    padding: 20px 0;
}

#top {
    position: relative;
}

.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}
/* Header 
----------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 50;
    border-radius: 0;
    top: 0px;
    border-bottom: 1px solid #D6D6D6;
}

.navbar-inverse .navbar-toggle {
    border-color: #8FAADC;
    background-color: #8FAADC;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        /*background-color: #8FAADC;*/;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: #8FAADC;
    }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #8FAADC;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
}

.navbar-toggle {
}
/*.carousel-inner*/
#myCarousel {
    margin-top: 50px;
    border-bottom: 4px solid #8FAADC;
}

.carousel-inner > .item {
}

.carousel-caption {
    padding: 0px;
    bottom: 40%;
    display: block;
    height: 80px;
}

    .carousel-caption h1 {
        font-size: 45px;
        padding: 10px 15px;
        background: rgba(128, 180, 33, 0.80);
        color: #FFFFFF;
        text-shadow: none;
        font-weight: bold;
        display: inline-block;
    }

    .carousel-caption h3 {
        font-size: 30px;
        color: #1C4604;
        font-weight: bold;
        text-shadow: #fff 1px 1px 1px;
    }

.actionPanel {
    padding: 25px 0;
    background: #8FAADC;
}

    .actionPanel h3 {
        margin: 0px;
    }

.circle {
    background: #8FAADC;
    height: 60px;
    width: 60px;
    border-radius: 35px;
    color: #fff;
    line-height: 60px !important;
}
/*----Nav ----*/
.header .navbar-brand {
    float: left;
    padding: 16px 15px;
    line-height: 18px;
    height: 50px;
    /*color:#8FAADC;*/;
}

.header p{
	font-size: 15px;
	margin-left: 1050px;
	margin-top: 50px;
}
.navbar-brand b {
    color: #8FAADC;
}


.navbar-brand img {
	height:30px;
	margin-left: -250px;
	margin-top: 0px;
	
}


.logo {
    font-size: 2.2em;
    text-shadow: none;
    margin: 8px 0 0 0;
}

    .logo:hover {
        color: #5A5A5A;
    }

.header .navbar {
    margin: 0;
    background: #fff;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #858585;
    font-size: 1.2em;
    line-height: normal;
    margin: 17px;
    padding: 6px 10px !important;
    border-radius: 5px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #8FAADC;
    background: none;
}

.navbar-nav > li:hover > a {
    color: #8FAADC;
}

.header .navbar-nav > li > a {
    padding: 25px 18px;
    text-transform: uppercase;
}

.page-section {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.noPadd {
    padding: 0;
}

.page-section h1 {
    font-size: 3.5em;
    margin: 90px 0 30px;
    line-height: 1.2em;
}

    .page-section h1 span {
        font-weight: 200;
    }

.page-section h2 {
    color: #8FAADC;
}

.page-section p {
    font-size: 1.1em;
    line-height: 1.6em;
}

.darkBg {
    background: rgb(44, 44, 44);
}

    .darkBg .fa {
        color: #8FAADC;
    }
/*--- Banner ----*/
.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    /*background: url("../images/banner-bg.jpg") no-repeat;*/
    background-size: 100% 100%;
    background-size: cover;
    margin-top: 60px;
    position: relative;
}

    .banner-container > img {
        width: 100%;
    }

.banner-content {
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 100px;
    right: 0px;
}

    .banner-content a{
        color: #8FAADC;
        font-size: 1.5em;
        margin: 2% 0 20px;
        line-height: 1.2em;
    }

	.banner-content li{
        font-size: 1.5em;
        font-weight: normal;
        font-style: normal;
        color: #000000;
    }

    .banner-content p{
        font-size: 1.5em;
        font-weight: normal;
        font-style: normal;
        color: #000000;
    }

.da-slider {
    margin: 0 auto !important;
}

.sub-heading {
    padding: 15px 0;
}

    .sub-heading h2 {
        font-size: 18px;
        margin: 15px 0 8px !important;
    }

    .sub-heading p {
        color: #5A5A5A;
    }

.heading {
    background: white;
	color: #8FAADC;
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
	border-radius: 20px;
}

    .heading p {
        font-size: 1.4em;
		text-align: left;
		margin-left: 100px;
		margin-right:80px;
    }

.pdingBtm30 {
    padding-bottom: 30px;
}

.da-arrows span:after {
    width: 25px;
    height: 24px;
}

.da-arrows span {
    position: absolute;
    top: 50%;
    height: 34px;
    width: 34px;
    border-radius: 60px;
    background: none;
}

.da-dots span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.13);
    margin: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
    border: 2px solid #fff;
}
/* Services
    -------------------------------------------------*/
.grid .text-content {
    padding-left: 35%;
}

.grid .text-content {
    display: block;
    padding-left: 19%;
    padding-right: 8%;
}

.grid .grid-item {
}

.grid .text-content h5 {
    font-weight: bold;
}

.grid .grid-item .item-content {
    display: block;
    outline: none;
    text-decoration: none;
    padding: 20px 0;
}

.item-content .fa {
    position: absolute;
    color: #646464;
    font-size: 4.5em;
    top: 36px;
}
/* Team
    ---------------------------------------------------*/
.team-member {
    margin-bottom: 15px;
}

.member-img {
    overflow: hidden;
}

.team-member .member-img img {
    max-width: 250px;
    margin: 0 auto;
	border-radius: 20px;
}

.team-member h4 {
    font-size: 19px;
    line-height: 32px;
    margin: 10px 0 0 15px;
    text-align: center;
}

.team-member .pos {
    display: block;
    margin: 0 0 0 15px;
    text-align: center;
}

.team-member .contact a {
    padding: 0 8px;
}

#contactUs {
    background: #8FAADC;
}

    #contactUs .btn {
        background: rgba(255, 255, 255, 0.29);
    }

.descrition {
    min-height: 90px;
    /*text-align: center;*/
    /*border-bottom: 1px solid #dadde2;*/
    padding: 5px 15px;
}

.team-member {
    padding-top: 5px;
}

.team-socials {
    margin: 15px 0;
    display: block;
    text-align: center;
}

    .team-socials i {
        width: 42px;
        height: 42px;
        line-height: 42px;
        background: transparent;
        border: 2px solid #E7EBEF;
        margin: 0px 5px 0px 0px;
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 18px;
    }
/* ------- */

.isotopeWrapper article {
    margin-bottom: 30px;
}

#portfolio {
    background: rgb(44, 44, 44);
}

    #portfolio img {
        width: 100%;
    }

    #portfolio article p {
        margin-bottom: 1.45em;
        /*set next row on the baseline*/;
    }

nav#filter {
    margin-bottom: 1.5em;
}

    nav#filter li {
        display: inline-block;
        margin: 0 0 0 5px;
    }

    nav#filter a {
        padding: 4px 12px;
        line-height: 20px;
        border: 1px solid #8FAADC;
        text-decoration: none;
    }

.current {
    background: #8FAADC;
    color: #fff;
}

.portfolio-items article img {
    width: 100%;
}

.portfolio-item {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .portfolio-item img {
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;
    }

    .portfolio-item .portfolio-desc {
        display: block;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        color: rgba(220, 220, 220);
    }

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.64);
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 20%;
    height: 100%;
    transition: all 200ms ease-in-out 0s;
    opacity: 1;
    background: rgba(61, 61, 61, 0.67);
}

.portfolio-item .portfolio-desc a {
    color: #fff;
    text-align: center;
    display: block;
}

    .portfolio-item .portfolio-desc a:hover {
        /*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
        text-decoration: none;
    }

.portfolio-item .portfolio-desc .folio-info {
    top: -20px;
    padding: 30px;
    height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
    top: 5px;
}

.portfolio-item .portfolio-desc .folio-info h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.portfolio-item .portfolio-desc .folio-info p {
    color: #ffffff;
    font-size: 12px;
}

.page-section.intro {
    min-height: 600px;
}

.btn {
    font-weight: 200;
}

.btn-dark {
    background: #444;
    color: #fff;
}

    .btn-dark:hover {
        background: #000;
        color: #fff;
    }

.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 20px 0 0;
    text-shadow: none;
}

    .back-to-top:hover {
        background: #333;
        color: #fff;
        text-decoration: none;
    }

hr {
    border-color: #ddd;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #ffffff;
    box-shadow: 0 10px 10px -10px #000000;
}

    #navigation > li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #navigation > li > a {
            margin: 1px;
            color: #000000;
            background: #cccccc;
            display: block;
            padding: 5px;
            text-decoration: none;
            transition: all 400ms;
        }

            #navigation > li > a.current,
            #navigation > li:hover > a {
                background: #999999;
            }

.pageSection {
    min-height: 600px;
    padding: 20px;
    background: #dddddd;
}

    .pageSection:nth-child(odd) {
        background: #eeeeee;
    }

.socialIcons li {
    list-style: none;
    display: inline;
    margin-right: 6px;
}

footer {
    border-top: 1px solid #e5e5e5;
    padding: 45px 0;
    background: #fff;
}

.social a:hover {
    color: #c0392b;
}
.social > img{
	height:30px;
	
}

.social a {
    font-size: 32px;
    margin: 0 10px;
    color: #c7c7c7;
}

.contact ul li {
    margin-bottom: 10px;
}

    .contact ul li i {
        margin-right: 15px;
    }
/*Clients*/
.clients #owl-demo .item {
    background: none;
}

.clients .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

    .clients .helper img {
        vertical-align: middle;
        max-height: 70px;
        max-width: 80%;
    }

.clients .customNavigation > a {
    font-size: 25px;
    cursor: pointer;
    margin: 0px 5px;
}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #858585;
        font-size: 1.1em;
        padding: 5px 12px !important;
        border-radius: 5px;
        margin: 19px 0px;
    }
}

@media (max-width: 768px) {
    .banner-container {
        background-size: contain;
    }

    .team-member .member-img img {
        max-width: 100%;
    }

    .da-slider {
        height: 380px;
        width: 100%;
        min-width: initial;
        margin: 0px !important;
    }

    .header .navbar-nav > li > a {
        padding: 25px 12px;
    }

    .portfolio-item:hover .folio-info {
        top: 0px;
    }

    .portfolio-item .portfolio-desc .folio-info {
        padding: 0px;
    }

        .portfolio-item .portfolio-desc .folio-info h5 {
            font-size: 1em;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #858585;
        font-size: 1em;
        padding: 5px 7px !important;
        border-radius: 5px;
        margin: 19px 0px;
    }
}

@media (max-width:760px) {
    .header .navbar-nav > li > a {
        padding: 7px 12px;
        font-size: 14px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #A8A8A8;
    }
}

@media (max-width: 480px) {
    .banner-container {
        background-size: contain;
        margin-top: 67px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 0.9em;
        padding: 5px 7px !important;
        margin: 2px 0px;
    }

    .navbar-toggle {
        margin: 17px;
    }

    .da-slide h2 {
        font-size: 40px;
        text-align: center;
        width: initial;
        top: 10px;
    }

    .da-slide p {
        width: 65%;
        top: 65px;
        height: 50px;
    }

    .page-section h1 {
        font-size: 3em;
    }

    .page-section h2 {
        font-size: 2em;
    }

    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }

    .portfolio-item .portfolio-desc .folio-info h5 {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .banner-container {
        background-size: contain;
    }

    .da-slider {
        height: 300px;
    }

    .da-slider {
        width: 100%;
        min-width: initial;
        position: relative;
        margin: 0 auto;
    }

    .da-slide h2 {
        font-size: 30px;
        text-align: center;
        width: initial;
        top: 10px;
    }

    .da-dots {
        bottom: 2px;
    }

    .grid .text-content {
        padding-left: 29%;
        padding-right: 2%;
    }

    .portfolio-item:hover .folio-info {
        top: 0px;
    }

    .portfolio-item .portfolio-desc .folio-info h5 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 10px;
        margin: 10px 0 0 0;
    }

    nav#filter li {
        display: inline-block;
        margin: 0 0 23px 5px;
    }
}

#owl-demo .item {
    background: #3fbf79;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.customNavigation {
    text-align: center;
}

    .customNavigation a {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
