<!-- officially provided -->
<!-- used to edit role settings -->
<template>
	<view class="uni-container">
		<uni-forms ref="form" v-model="formData" :rules="rules" validateTrigger="bind" @submit="submit">
			<uni-forms-item name="role_id" label="Role Id" required>
				<uni-easyinput v-model="formData.role_id" :clearable="false" placeholder="Role Id" />
			</uni-forms-item>
			<uni-forms-item name="role_name" label="Role Name" required>
				<uni-easyinput v-model="formData.role_name" :clearable="false" placeholder="Role Name" />
			</uni-forms-item>
			<uni-forms-item name="permission" label="Permission List">
				<uni-data-checkbox :multiple="true" v-model="formData.permission" collection="uni-id-permissions" field="permission_name as text, permission_id as value" />
			</uni-forms-item>
			<uni-forms-item name="comment" label="Comment">
				<uni-easyinput type="textarea" v-model="formData.comment" :clearable="false" placeholder="Comment" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button style="width: 100px;" type="primary" class="uni-button" @click="submitForm">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;"><button style="width: 100px;" class="uni-button">Return</button></navigator>
			</view>
		</uni-forms>
	</view>
</template>

<script>
	import validator from '@/js_sdk/validator/uni-id-roles.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'uni-id-roles';

	function getValidator(fields) {
		let result = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				result[key] = validator[key]
			}
		}
		return result
	}

	export default {
		data() {
			return {
				formData: {
					"role_id": "",
					"role_name": "",
					"permission": [],
					"comment": ""
				},
				rules: {
					...getValidator(["role_id", "role_name", "permission", "comment"])
				},
				permissions: []
			}
		},
		onLoad(e) {
			const id = e.id
			this.formDataId = id
			this.getDetail(id)
			this.loadPermissions()
		},
		methods: {
			/**
			 * trigger form submission
			 */
			submitForm(form) {
				this.$refs.form.submit();
			},

			/**
			 * form submission
			 * @param {Object} event callback value Function(callback:{value,errors})
			 */
			submit(event) {
				const {
					value,
					errors
				} = event.detail

				// form verification failure will be report to users, end the submission progress
				if (errors) {
					return
				}

				uni.showLoading({
					title: 'Modifying...',
					mask: true
				})

				// use uni-clientDB to submit data
				db.collection(dbCollectionName).where({
					_id: this.formDataId
				}).update(value).then((res) => {
					uni.showToast({
						title: 'Success!'
					})
					setTimeout(() => uni.navigateBack(), 500)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			},

			/**
			 * acquire form data
			 * @param {Object} id
			 */
			getDetail(id) {
				uni.showLoading({
					mask: true
				})
				db.collection(dbCollectionName).where({
					_id: id
				}).get().then((res) => {
					const data = res.result.data[0]
					if (data) {
						Object.keys(this.formData).forEach(name => {
							this.binddata(name, data[name])
						})
						this.formData = data
					}
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			},
			loadPermissions() {
				db.collection('uni-id-permissions').limit(500).get().then(res => {
					this.permissions = res.result.data.map(item => {
						return {
							value: item.permission_id,
							text: item.permission_name
						}
					})
				}).catch(err => {
					uni.showModal({
						title: 'Hint',
						content: err.message,
						showCancel: false
					})
				})
			}
		}
	}
</script>
