<!-- officially provided -->
<!-- used to display all roles and their permissions -->
<!-- allow different operations -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group hide-on-phone">
				<view class="uni-title">Role Management</view>
				<view class="uni-sub-title"></view>
			</view>
			<view class="uni-group">
				<button class="uni-button" type="primary" size="mini" @click="navigateTo('./add')">New</button>
				<button class="uni-button" type="warn" size="mini" @click="delTable"
					:disabled="!selectedIndexs.length">Multi-Delete</button>
				<!-- #ifdef H5 -->
				<download-excel class="hide-on-phone" :fields="expExcel.json_fields" :data="expData"
					:type="expExcel.type" :name="expExcel.filename">
					<button class="uni-button" type="primary" size="mini">export to Excel</button>
				</download-excel>
				<!-- #endif -->
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" @load="onqueryload" collection="uni-id-roles,uni-id-permissions" :options="options"
				:where="where" field="role_id,role_name,permission{permission_id,permission_name},comment,create_date"
				page-data="replace" :orderby="orderby" :getcount="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error}">
				<uni-table :loading="loading" :emptyText="error.message || 'No more Data!'" border stripe type="selection"
					@selection-change="selectionChange">
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center">Role Id</uni-th>
						<uni-th align="center">Role name</uni-th>
						<uni-th align="center">Authority</uni-th>
						<uni-th align="center">Tip</uni-th>
						<uni-th width="170" align="center">Create Time</uni-th>
						<uni-th width="204" align="center">Operations</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center">{{item.role_id}}</uni-td>
						<uni-td align="center">{{item.role_name}}</uni-td>
						<uni-td align="center">{{item.permission}}</uni-td>
						<uni-td align="center">{{item.comment}}</uni-td>
						<uni-td align="center">
							{{item.create_date}}
						</uni-td>
						<uni-td align="center">
							<view v-if="item.role_id === 'admin'">-</view>
							<view v-else class="uni-group">
								<button @click="navigateTo('./edit?id='+item._id, false)" class="uni-button" size="mini"
									type="primary">Modify</button>
								<button @click="confirmDelete(item)" class="uni-button" size="mini"
									type="warn">Delete</button>
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<picker class="select-picker" mode="selector" :value="pageSizeIndex" :range="pageSizeOption"
						@change="changeSize">
						<button type="default" size="mini" :plain="true">
							<text>{{pageSizeOption[pageSizeIndex]}} Page</text>
							<uni-icons class="select-picker-icon" type="arrowdown" size="12" color="#999"></uni-icons>
						</button>
					</picker>
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>
		<!-- #ifndef H5 -->
		<fix-window />
		<!-- #endif -->
	</view>
</template>

<script>
	const db = uniCloud.database()
	
	// db query configuration
	const dbOrderBy = 'create_date desc' // sorted field
	const dbSearchFields = ['role_id', 'role_name'] // searching field list
			// paging configuration
	const pageSize = 20
	const pageCurrent = 1

	export default {
		data() {
			return {
				query: '',
				where: '',
				orderby: dbOrderBy,
				options: {
					pageSize,
					pageCurrent
				},
				selectedIndexs: [], //selected items
				pageSizeIndex: 0,
				pageSizeOption: [20, 50, 100, 500],
				expData: [],
				expExcel: {
					filename: "role.xls",
					type: "xls",
					json_fields: {
						"roleId": "role_id",
						"roleName": "role_name",
						"Comment": "comment",
						"Created Time": "create_date"
					}
				}
			}
		},
		watch: {
			pageSizeIndex: {
				immediate: true,
				handler(val, old) {
					this.options.pageSize = this.pageSizeOption[val]
					this.options.pageCurrent = 1
				}
			}
		},
		methods: {
			onqueryload(data, ended) {
				for (var i = 0; i < data.length; i++) {
					let item = data[i]
					item.permission = item.permission.map(pItem => pItem.permission_name).join('、')
					item.create_date = this.$formatDate(item.create_date)
				}
				this.expData = data //Only export current page
			},
			changeSize(e) {
				this.pageSizeIndex = e.detail.value
			},
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			search() {
				const newWhere = this.getWhere()
				const isSameWhere = newWhere === this.where
				this.where = newWhere
				if (isSameWhere) { // under same condition, refresh automatically
					this.loadData()
				}
			},
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {
				this.options.pageCurrent = e.current
			},
			navigateTo(url, clear) { // clear mean whether to clear current page when refreshing，true meaningrefresh and return to page 1，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multi selection
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			//multi deleting
			delTable() {
				this.$refs.udb.remove(this.selectedItems())
			},
			// selcted indexes
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(item) {
				this.$refs.udb.remove(item._id)
			},
			praseRoleArr(permission) {
				return permission ? permission.map(pItem => pItem.permission_name).join('、') : '-'
			}
		}
	}
</script>
<style>
	/* #ifndef H5 */
	page {
		padding-top: 85px;
	}

	/* #endif */
</style>
