<!-- This page is to set basic informations of new quesiton added.-->
<template>
	<view class="uni-container">
		<uni-forms ref="form" :value="formData" validateTrigger="bind">
			<uni-forms-item name="title" label="Question" required>
				<uni-easyinput placeholder="" v-model="formData.title" trim="both" />
			</uni-forms-item>
			<uni-file-picker v-model="imageValue" fileMediatype="image" mode="grid" :limit="1" @select="select"
				@success="success" @fail="fail" />
			<uni-forms-item name="type" label="Question Type" required>
				<uni-data-checkbox v-model="formData.type" :localdata="formOptions.type_localdata" />
			</uni-forms-item>
			<uni-forms-item name="sampleAnswer" label="Sample Answer">
				<uni-easyinput placeholder="Sample Answer" v-model="formData.sampleAnswer" trim="both" />
			</uni-forms-item>
			<uni-forms-item name="is_required" label="Required">
				<switch @change="binddata('is_required', $event.detail.value)" :checked="formData.is_required" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button type="primary" class="uni-button" style="width: 100px;" @click="submit">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;">
					<button class="uni-button" style="width: 100px;">Return</button>
				</navigator>
			</view>
		</uni-forms>
		<view v-for="(item,index) in image_urls" :key="index">
			<image :src="item.src" mode="aspectFit"></image>
		</view>
	</view>
</template>

<script>
	import {
		validator
	} from '../../js_sdk/validator/opendb-vote-question.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'grp-vote-question';

	function getValidator(fields) {
		let reuslt = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				reuslt[key] = validator[key]
			}
		}
		return reuslt
	}

	export default {
		data() {
			return {
				formData: {
					"questionnaire_id": null,
					"title": "",
					"description": "",
					"sampleAnswer": "",
					"picture_url": "",
					"type": null,
					"is_required": null
				},
				formOptions: {
					"type_localdata": [{
							"text": "Single Choice",
							"value": "radio"
						},
						{
							"text": "Multiple Choice",
							"value": "checkbox"
						},
						{
							"text": "Fill in Blank",
							"value": "input"
						}
					]
				},
				rules: {
					...getValidator(["questionnaire_id", "title", "description", "type", "is_required", "questionType"])
				},
				questionnaire_id: '', // Quiz id
				questionnaire_title: "", // Quiz Name
				imageValue: '',
			}
		},
		onLoad(e) {
			this.questionnaire_id = e.questionnaire_id
			this.questionnaire_title = e.questionnaire_title
			this.formData.questionnaire_id = this.questionnaire_id
			uni.setNavigationBarTitle({
				title: "New Question[" + this.questionnaire_title + "]"
			})
		},
		onReady() {
			this.$refs.form.setRules(this.rules)
		},
		methods: {
			select(e) {
				console.log('Select Image：', e)
			},
			// Upload FSuccess
			success(e) {
				this.image_urls = this.$refs.imageUrl.urls
				console.log('success', e)
			},

			// Upload Failed
			fail(e) {
				console.log('Upload Failed：', e)
			},
			/**
			 * Trigger form submition
			 */
			submit() {
				if (this.imageValue){
					this.formData.picture_url = this.imageValue[0].url
				}
				console.log("submitted===", this.formData);
				uni.showLoading({
					mask: true
				})
				this.$refs.form.submit().then((res) => {
					// submitted data here is form data,not validated res. 
					// res will remove formData.questionnaire_id
					this.submitForm(this.formData) 
					}).catch((errors) => {
					uni.hideLoading()
				})
			},
navigateTo(url, clear) {
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			submitForm(value) {
				// use clientDB to submit data
				db.collection(dbCollectionName).add(value).then((res) => {
					uni.showToast({
						title: 'Successfully added'
					})
					var url='./list?questionnaire_id=' + this.questionnaire_id + '&questionnaire_title=' + this.questionnaire_title
					
					setTimeout(() => uni.navigateTo({
						url: url,
						events: {
							refreshData: () => {
								this.loadData(true)
							}
						}
					}), 200)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Application Fail',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			}
		}
	}
</script>
