<!-- This interface displays the complete quiz in the form of card flow.
	 All set value of each question will be displayed in the form of card flow. 
	 Each question is deisplayed in cards seperatelt-->
<template>
	<view class="article">
		<!-- #ifdef APP-PLUS -->
		<!-- <uni-nav-bar :statusBar="true" :border="false"></uni-nav-bar> -->
		<!-- #endif -->
		<uni-title type="h2" align="center" color="#027fff" :title="title"></uni-title>
		<uni-card :title="(index+1)+'. '" v-for="(item,index) in questionList" :key="index"
			:extra="item.is_required==true?'Required':''">
			<view v-if="item.picture_url">
				<!-- question image -->
				<image :src="item.picture_url" mode="aspectFit"></image>
			</view>
			<text class="title" style="flex-wrap: wrap;font-size: 16px;">{{item.title}}</text>
			<view v-if="item.sampleAnswer" style="color: #2979FF;">
				Sample Answer: {{item.sampleAnswer}}
			</view>
			<uni-forms :modelValue="item" ref="form">
				<!-- display different type of questions according to "type" value -->
				<uni-forms-item v-if="item.type=='radio'" class="mt20">
					<uni-data-checkbox :mode="mode" v-model="item.select" :localdata="item.optionList" :icon="icon">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item v-if="item.type=='checkbox'" class="mt20">
					<uni-data-checkbox :mode="mode" multiple v-model="item.selectList" :localdata="item.optionList">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item v-if="item.type=='ratioinput'" class="mt20">
					<uni-data-checkbox v-model="item.select" :localdata="item.optionList"
						@change="changeSelect($event,index)">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item v-if="item.type=='checkboxinput'" class="mt20">
					<uni-data-checkbox :mode="mode" multiple v-model="item.selectList" :localdata="item.optionList"
						@change="changeSelect2($event,index)">
					</uni-data-checkbox>
				</uni-forms-item>
				<uni-forms-item label="other" name="other"
					v-if='(item.type=="radioinput"&&item.select=="other")||(item.type=="checkboxinput"&&item.selectList.indexOf("other")!=-1)'
					label-width="40">
					<input type="text" v-model="item.other" class="detail_input" />
				</uni-forms-item>
			</uni-forms>
		</uni-card>
	</view>
</template>
<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-question.js';
	import {
		request
	} from '@/common/request.js';
	import {
		mapGetters
	} from 'vuex'; // paging configuration
	const pageSize = 20
	const pageCurrent = 1
	export default {
		data() {
			return {
				event: [],
				id: '', // Quiz id
				title: '', // Quiz name
				questionList: [],
				query: '',
				where: '',
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				currentAnswer: '',
			}
		},
		computed: {
			...mapGetters({
				'userInfo': 'user/info',
			}),
		},
		async onLoad(e) {
			this.event = e
			console.log("id&title", e.questionnaire_title, e.questionnaire_id)
			this.title = e.questionnaire_title
			if (e.questionnaire_id) {
				this.id = e.questionnaire_id
				await this.loadData()
			} else {
				uni.showToast({
					title: 'No data.',
					icon: 'none',
					duration: 1000
				})
				setTimeout(() => {
					uni.navigateTo({
						url: "/pages/opendb-vote-questionnaire/list"
					})
				}, 500)
				return;
			}
		},
		methods: {
			changeSelect(res, index) {
				this.$set(this.questionList[index], 'select', res.detail.data.value);
				this.$forceUpdate();
			},
			changeSelect2(res, index) {
				this.$set(this.questionList[index], 'selectList', res.detail.value);
				this.$forceUpdate();
			},
			async loadData(data) {
				if (this.title == '' && data[0].title) {
					this.title = data[0].title
					uni.setNavigationBarTitle({
						title: data[0].title
					});
				}
				const res = await request('uni-vote', 'getAireContent', {
					id: this.id
				}, {
					showLoading: true,
				});
				const now = Date.now();
				for (var i = 0; i < res.questionList.length; i++) {
					this.questionList.push({
						title: res.questionList[i].title
					});
					var optionList = [];
					for (var j = 0; j < res.questionList[i].optionList.length; j++) {
						optionList.push({
							text: res.questionList[i].optionList[j].title,
							value: res.questionList[i].optionList[j]._id,
							is_correct: res.questionList[i].optionList[j].is_correct
						})
					}
					if (res.questionList[i].type == 'radioinput' || res.questionList[i].type == 'checkboxinput') {
						optionList.push({
							text: "other",
							value: "other",
							is_correct: false
						})
					}
					this.questionList[i].picture_url = res.questionList[i].picture_url;
					this.questionList[i].id = res.questionList[i]._id;
					this.questionList[i].type = res.questionList[i].type;
					this.questionList[i].questionType = res.questionList[i].questionType;
					this.questionList[i].sampleAnswer = res.questionList[i].sampleAnswer;
					this.questionList[i].is_required = res.questionList[i].is_required;
					this.questionList[i].description = res.questionList[i].description;
					this.questionList[i].optionList = optionList;
					this.questionList[i].select = '';
					this.questionList[i].selectList = res.questionList[i].sampleAnswer;
					this.questionList[i].other = '';
				}
				console.log('questionList:', this.questionList);
			},

		}
	}
</script>

<style>
	.answers {
		border-color: #C0C0C0;
	}
</style>
