<!-- This page is the same as the add page, except that the former set question data is reserved. 
	 When changes are made, the form will be submit and update the data.-->
<template>
	<view class="uni-container">
		<uni-forms ref="form" :value="formData" validateTrigger="bind">
			<uni-forms-item name="title" label="Question" required>
				<uni-easyinput placeholder="" v-model="formData.title" trim="both" />
			</uni-forms-item>

			<view v-if="formData.picture_url">
				<image :src="formData.picture_url" mode="aspectFit"></image>
				<button class="uni-button" style="width: 100px;" @click="deletePic">Delete</button>
			</view>
			<view v-else>
				<uni-file-picker v-model="imageValue" fileMediatype="image" mode="grid" @select="select"
					@success="success" @fail="fail" />
			</view>
			<view v-if="formData.type=='input'">
				<uni-forms-item name="sampleAnswer" label="Sample Answer">
					<uni-easyinput placeholder="" v-model="formData.sampleAnswer" trim="both" />
				</uni-forms-item>
			</view>
			<uni-forms-item name="type" label="Question Type" required>
				<uni-data-checkbox v-model="formData.type" :localdata="formOptions.type_localdata" />
			</uni-forms-item>
			<uni-forms-item name="is_required" label="Required">
				<switch @change="binddata('is_required', $event.detail.value)" :checked="formData.is_required" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button type="primary" class="uni-button" style="width: 100px;" @click="submit">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;">
					<button class="uni-button" style="width: 100px;">Return</button>
				</navigator>
			</view>
		</uni-forms>
	</view>
</template>

<script>
	import {
		validator
	} from '../../js_sdk/validator/opendb-vote-question.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'grp-vote-question';

	function getValidator(fields) {
		let reuslt = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				reuslt[key] = validator[key]
			}
		}
		return reuslt
	}

	export default {
		data() {
			return {
				formData: {
					"questionnaire_id": null,
					"title": "",
					"picture_url": "",
					"description": "",
					"sampleAnswer": "",
					"type": null,
					"questionType": null,
					"is_required": null
				},
				formOptions: {
					"type_localdata": [{
							"text": "Single Choice",
							"value": "radio"
						},
						{
							"text": "Multiple Choice",
							"value": "checkbox"
						},
						{
							"text": "Fill in Blank",
							"value": "input"
						}
					],
					"questionType_localdata": [{}, ]
				},
				rules: {
					...getValidator(["questionnaire_id", "title", "description", "type", "is_required", "questionType"])
				},
				imageValue: '',
			}
		},
		onLoad(e) {
			const id = e.id
			this.formDataId = id
			this.getDetail(id)
			this.imageValue = this.formData.picture_url
			this.questionnaire_id = e.questionnaire_id
			this.questionnaire_title = e.questionnaire_title
				
		},
		onReady() {
			this.$refs.form.setRules(this.rules)
		},
		methods: {
			select(e) {
				console.log('Select Image：', e)
			},
			// Upload FSuccess
			success(e) {
				this.image_urls = this.$refs.imageUrl.urls
				console.log('success', e)
			},

			// Upload Failed
			fail(e) {
				console.log('Upload Failed：', e)
			},
			/**
			 * Trigger form submission
			 */
			submit() {
				if (this.imageValue) {
					this.formData.picture_url = this.imageValue[0].url
				}
				if (this.formData.picture_url) {
					db.collection(dbCollectionName).doc(this.formDataId).update({
						"picture_url": this.formData.picture_url
					});
				}
				uni.showLoading({
					mask: true
				})
				this.$refs.form.submit().then((res) => {
					// submitted data here is form data,not validated res. 
					// res will remove formData.questionnaire_id
					this.submitForm(res)
				}).catch((errors) => {
					uni.hideLoading()
				})
			},

			submitForm(value) {
				// use clientDB to submit data
				db.collection(dbCollectionName).doc(this.formDataId).update(value).then((res) => {
					uni.showToast({
						title: 'Change Successfully'
					})
					// if the url is put into uni.navigateTo function, it will not work
					var url='./list?questionnaire_id=' + this.questionnaire_id + '&questionnaire_title=' + this.questionnaire_title
					
					setTimeout(() => uni.navigateTo({
						url: url,
						events: {
							refreshData: () => {
								this.loadData(true)
							}
						}
					}), 300)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Request Failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			},

			deletePic() {
				this.formData.picture_url = ''
				db.collection(dbCollectionName).doc(this.formDataId).update({
					"picture_url": ''
				});
			},
			/**
			 * get form data
			 * @param {Object} id
			 */
			getDetail(id) {
				uni.showLoading({
					mask: true
				})
				db.collection(dbCollectionName).doc(id).get().then((res) => {
					const data = res.result.data[0]
					if (data) {
						this.formData = data
					}
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Request Failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			}
		}
	}
</script>
