<!-- This page displays the list of all questions in a quiz -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
			<view class="uni-group">
				<button class="uni-button" type="default"
					style="align-items: baseline;margin-right: 10px;height: 30px; width: 120px;text-align: center;font-size: 12px;white-space:nowrap"
					@click="navigateTo('./completeQuiz?questionnaire_id=' + questionnaire_id + '&questionnaire_title=' + questionnaire_title)">View
					Full Quiz</button>
				<button class="uni-button" type="default" size="mini"
					@click="navigateTo('./add?questionnaire_id=' + questionnaire_id + '&questionnaire_title=' + questionnaire_title)">New</button>
				<button class="uni-button" type="default" size="mini" :disabled="!selectedIndexs.length"
					@click="delTable">delete</button>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" collection="grp-vote-question"
				field="_id,question_id,questionnaire_id,title,description,type,is_required,questionType" :where="where"
				page-data="replace" :orderby="orderby" :getcount="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error,options}"
				:options="options" loadtime="manual">
				<uni-table ref="table" :loading="loading" :emptyText="error.message || 'No questions'" border stripe
					type="selection" @selection-change="selectionChange">
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center" sortable @sort-change="sortChange($event, 'title')">Question id</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'description')">Description
						</uni-th>
						<uni-th align="center">Question Type</uni-th>
						<uni-th align="center">Correctness</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'is_required')">required
						</uni-th>
						<uni-th align="center">Operation</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<!-- record content -->
						<uni-td align="center">
							<view v-if="item.type!='input'">
								<navigator
									:url="'/pages/opendb-vote-option/list?question_id=' + item._id + '&question_title=' + item.title">
									<text style="text-decoration:underline">
										{{index+1}}
									</text>
								</navigator>
							</view>
							<view v-else>
								{{index+1}}
							</view>
						</uni-td>
						<uni-td align="center">
								<text>
									{{item.title}}
								</text>
						</uni-td>
						<uni-td align="center"> {{options.type_valuetotext[item.type]}} </uni-td>
						<uni-td align="center">
							{{ID_count[index]}}/{{attend_num}}
						</uni-td>
						<uni-td align="center"> {{item.is_required == true ? '✅' : '❌'}} </uni-td>
						<uni-td align="center">
							<view class="uni-group">
								<view class="uni-group" style="margin-left: 10px;" v-if="!(item.type==='input')">
									<button
										@click="navigateTo('../opendb-vote-option/option?question_id='+item._id+'&question_title='+item.title, false)"
										class="uni-button" size="mini" type="primary">Options</button>
								</view>
								<button @click="navigateTo('./edit?id='+item._id+'&questionnaire_id=' + questionnaire_id + '&questionnaire_title=' + questionnaire_title, false)" class="uni-button" size="mini"
									type="primary">Edit</button>

								<button @click="confirmDelete(item._id)" class="uni-button" size="mini"
									type="warn">Delete</button>
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>
	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-question.js';
	import
	logCount
	from '../opendb-vote-questionnaire/logCount.vue';

	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = '' // sorted field
	const dbSearchFields = [] // searching field list
	// paging configuration
	const pageSize = 20
	const pageCurrent = 1

	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	const dbCmd = db.command;
	const collection_question = db.collection('grp-vote-question')
	const collection_quiz_result = db.collection('grp-vote-log')

	export default {
		components: {
			"log-count": logCount
		},
		data() {
			return {
				query: '',
				where: '',
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				attend_num: '',
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				question_IDs: [],
				ID_count: [],
				questionnaire_id: '', // Quiz id
				questionnaire_title: "", // Quiz name
				expExcel: {
					filename: "Result.xls",
					type: "xls",
					json_fields: {
						"username": "username",
						"role": "role",
						"status": "status",
						"create time": "register_date"
					},
				}
			}
		},
		onLoad(e) {
			this.questionnaire_id = e.questionnaire_id
			this.questionnaire_title = e.questionnaire_title
			this.where = "questionnaire_id == '" + this.questionnaire_id + "'"
			uni.setNavigationBarTitle({
				title: "Question List [" + this.questionnaire_title + "]"
			})

			this.loadCorrectness()
		},
		onReady() {
			this.$refs.udb.loadData()
		},
		methods: {
			async loadCorrectness() {
				var that = this
				const res = await collection_question.where({
					questionnaire_id: that.questionnaire_id
				}).field("question_id").get()
				that.question_IDs = res.result.data

				// get total attend number
				let res1 = await collection_quiz_result.where({
					question_id: that.question_IDs[0]._id
				}).count()
				that.attend_num = res1.result.total

				// get the correct number for each student
				for (var i = 0; i < that.question_IDs.length; i++) {
					let res2 = await collection_quiz_result.where({
						question_id: that.question_IDs[i]._id,
						is_correct: true
					}).count()
					that.ID_count.push(res2.result.total)
				}
			},
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			search() {
				const newWhere = this.getWhere()
				this.where = newWhere
				this.loadData()
			},
			
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {
				this.selectedIndexs.length = 0
				this.$refs.table.clearSelection()
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multiple choice question processing
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			// delete multiple questions selected
			delTable() {
				this.$refs.udb.remove(this.selectedItems())
			},
			// multiple questions selected
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(id) {
				this.$refs.udb.remove(id)
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$refs.table.clearSelection()
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
</style>
