<!-- This is the register page for students -->
<template>
	<view class="uni-container">
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title">Create a new account as student</view>
			</view>
		</view>
		<uni-forms ref="form" :value="formData" :rules="rules" validate-trigger="submit" err-show-type="undertext">
			<uni-forms-item name="username" required labelWidth="35">
				<uni-easyinput :inputBorder="false" class="easyinput" placeholder="username" v-model="formData.username"
					trim="both" />
			</uni-forms-item>
			<uni-forms-item name="nickname" labelWidth="35">
				<uni-easyinput :inputBorder="false" class="easyinput" placeholder="nickname" v-model="formData.nickname"
					trim="both" />
			</uni-forms-item>
			<uni-forms-item name="password" v-model="formData.password" required labelWidth="35">
				<uni-easyinput :inputBorder="false" class="easyinput" placeholder="6-20 length password" type="password"
					v-model="formData.password" trim="both" />
			</uni-forms-item>
			<uni-forms-item name="pwd2" v-model="formData.pwd2" required labelWidth="35">
				<uni-easyinput :inputBorder="false" class="easyinput" placeholder="confirm password" type="password"
					v-model="formData.pwd2" trim="both" />
			</uni-forms-item>
			<button class="send-btn" type="primary" @click="submit">Sign up</button>
			<button class="uni-button" type="primary" @click="back">Return</button>
		</uni-forms>
	</view>
</template>

<script>
	import rules from './validator.js';
	import mixin from '../common/login-page.mixin.js';
	export default {
		mixins: [mixin],
		data() {
			return {
				formData: {
					"username": "",
					"nickname": "",
					'password': '',
					'pwd2': ''
				},
				rules,
				agree: false,
				content: ""
			}
		},
		onReady() {
			this.$refs.form.setRules(this.rules)
		},
		methods: {
			back() {
				setTimeout(() => uni.navigateTo({
					url: '../../../../login/login'
				}), 200)
				uni.showLoading({
					mask: true
				})
			},
			/**
			 * trigger form submission
			 */
			submit() {
				if (!this.agree) {
					return uni.showToast({
						title: "You haven't agreed the User service and privacy protocol!",
						icon: 'none'
					});
				}
				uni.showLoading({
					mask: true
				})
				this.$refs.form.submit().then((res) => {
						this.submitForm(res)
						this.content = res
					}).catch((errors) => {
						console.log(errors);
					})
					.finally(() => {
						uni.hideLoading()
					})
			},
			submitForm(params) {
				uniCloud.callFunction({
					name: 'uni-id-cf',
					data: {
						action: 'registerStudent',
						params,
					},
					success: ({
						result
					}) => {
						console.log(result);
						if (result.code === 0) {
							this.loginSuccess(result)
						} else {
							uni.showModal({
								content: result.msg,
								showCancel: false
							});
						}
					}
				})
			}
		}
	}
</script>

<style>
	@import url("../common/login-page.css");

	page {
		width: 100%;
		height: 100%;
		display: flex;
		/* align-items: center; */
		justify-content: center;
		background-color: #fff;
		/* #ifndef H5 */
		padding-top: 85px;
		/* #endif */
	}

	.uni-container {
		position: relative;
		max-width: 420px;
		flex: 1;
		padding: 140px 35px 0;
		margin: 0 auto;
		overflow: hidden;
	}

	.uni-button {
		margin-top: 5px;
		font-size: 20px;
	}

	.send-btn {
		margin-top: 5px;
	}
</style>
