<!-- Register page for teacher role user.-->
<template>
	<view class="login-box">
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title">Create a new account as teacher</view>
			</view>
		</view>
		<view class="uni-container">
			<uni-forms ref="form" validateTrigger="bind" :rules="rules" @submit="submit">
				<uni-forms-item left-icon="person" name="username" labelWidth="35">
					<input ref="usernameInput" class="uni-input-border" type="text" placeholder="Username" @blur="binddata('username',$event.detail.value)" />
				</uni-forms-item>

				<uni-forms-item left-icon="locked" name="password" labelWidth="35">
					<input class="uni-input-border" :password="showPassword" placeholder="Password" @blur="binddata('password',$event.detail.value)" />
					<text class="uni-icon-password-eye pointer" :class="[!showPassword ? 'uni-eye-active' : '']" @click="changePassword">&#xe568;</text>
				</uni-forms-item>

				<uni-forms-item left-icon="locked" name="passwordConfirmation" labelWidth="35" :errorMessage="errorMessage">
					<input ref="passwordInput" @confirm="confirmForm('passwordConfirmation',$event.detail.value)" @blur="binddata('passwordConfirmation',$event.detail.value)"
					 class="uni-input-border" :password="showPasswordAgain" placeholder="Confirm Password " />
					<text class="uni-icon-password-eye pointer" :class="[!showPasswordAgain ? 'uni-eye-active' : '']" @click="changePasswordAgain">&#xe568;</text>
				</uni-forms-item>
				<view class="uni-button-group">
					<button class="uni-button" type="primary" :loading="loading" :disabled="loading" @click="submitForm">Create</button>
					<button class="uni-button" type="default" @click="back">Return</button>
				</view>

			</uni-forms>
		</view>
	</view>
</template>
<script>
	import validator from '../../js_sdk/validator/uni-id-users.js'
	import {
		mapMutations,
		mapActions
	} from 'vuex'
	import config from '@/admin.config.js'
	export default {
		data() {
			return {
				showPassword: true,
				showPasswordAgain: true,
				loading: false,
				errorMessage: '',
				formData: {
					username: 'admin',
					password: ''
				},
				passwordConfirmation: '',
				rules: {
					// verification for username
					username: {
						rules: [{
								required: true,
								errorMessage: 'Please create a username',
							},
							{
								minLength: 3,
								maxLength: 30,
								errorMessage: 'The length of username is between {minLength} and {maxLength} characters'
							}
						]
					},
					// verification for password
					password: {
						rules: [{
								required: true,
								errorMessage: 'Please enter a password',
							},
							{
								minLength: 6,
								errorMessage: 'The length of passwpord is larger than {minLength} characters'
							}
						]
					},
					// verification for confirming password
					passwordConfirmation: {
						rules: [{
								required: true,
								errorMessage: 'Please enter a confirmed password',
							},
							{
								minLength: 6,
								errorMessage: 'Minimum length is {minLength} characters.'
							}
						]
					}
				}
			}
		},
		mounted() {
			// #ifdef H5
			this.focus()
			// #endif
		},
		methods: {
			...mapMutations({
				setToken(commit, tokenInfo) {
					commit('user/SET_TOKEN', tokenInfo)
				}
			}),
			register(formData) {
				// #ifdef H5
				this.$refs.passwordInput.$refs.input.blur()
				// #endif
				this.loading = true
				this.$request('registerTeacher', formData, {
					functionName: 'uni-id-cf'
				}).then(res => {
						uni.showModal({
							title: 'Tip',
							content: res.code ? res.message : 'Create successfully',
							showCancel: false,
							success: (res) => {
								if (res.confirm) {
									uni.navigateTo({
										url: '/pages/login/login'
									})
								}
							}
						})
					}).catch(err => {}).finally(err => {
						this.loading = false
					})
			},
			submit(event) {
				if (this.loading) {
					return
				}
				const {
					errors,
					value
				} = event.detail
				if (errors) return
				if (value.password === value.passwordConfirmation) {
					this.register(value)
				} else {
					this.errorMessage = 'The password entered twice is not the same'
				}

			},
			confirmForm(name, value) {
				this.binddata(name, value)
				this.submitForm()
			},
			submitForm() {
				this.errorMessage = ''
				this.$refs.form.submit()
			},
			back() {
				uni.redirectTo({
					url: config.login.url
				})
			},
			changePassword: function() {
				this.showPassword = !this.showPassword;
			},
			changePasswordAgain: function() {
				this.showPasswordAgain = !this.showPasswordAgain;
			},
			// #ifdef H5
			focus: function() {
				this.$refs.usernameInput.$refs.input.focus()
			}
			// #endif
		}
	}
</script>

<style>
	page {
		width: 100%;
		height: 100%;
		display: flex;
		/* align-items: center; */
		justify-content: center;
		background-color: #fff;
		/* #ifndef H5 */
		padding-top: 85px;
		/* #endif */
	}

	.login-box {
		position: relative;
		max-width: 420px;
		flex: 1;
		padding: 140px 35px 0;
		margin: 0 auto;
		overflow: hidden;
	}

	.uni-button {
		width: 184px;
	}
</style>
