<!-- officially provided -->
<!-- used to add new menu tothe left bar -->
<template>
	<view class="uni-container">
		<uni-forms labelWidth="80" ref="form" v-model="formData" :rules="rules" validateTrigger="bind" @submit="submit">
			<uni-forms-item name="menu_id" label="ID" required>
				<uni-easyinput v-model="formData.menu_id" :clearable="false" placeholder="ID of menu，not allowed repeated" />
			</uni-forms-item>
			<uni-forms-item name="name" label="Name" required>
				<uni-easyinput v-model="formData.name" :clearable="false" placeholder="Menu name" />
			</uni-forms-item>
			<uni-forms-item name="icon" label="icon class" style="margin-bottom: 10px;">
				<uni-easyinput v-model="formData.icon" :clearable="false" placeholder="css class name of the menu">
					<span slot="right" style="color: #007aff; cursor: pointer;padding-right: 10px;" @click="showIconPopup">internal icon</span>
				</uni-easyinput>
				<uni-link font-size="12" href="https://uniapp.dcloud.net.cn/uniCloud/admin?id=icon-%e5%9b%be%e6%a0%87" text="How to use self-defined icons？"
				 class="uni-form-item-tips"></uni-link>
			</uni-forms-item>
			<uni-forms-item name="url" label="page URL">
				<uni-easyinput v-model="formData.url" :clearable="false" placeholder="empty URL implies that it is a directory" />
			</uni-forms-item>
			<uni-forms-item name="sort" label="index">
				<uni-easyinput v-model="formData.sort" :clearable="false" placeholder="Menu index" />
			</uni-forms-item>
			<uni-forms-item name="parent_id" label="Parent Menu ID">
				<uni-easyinput :disabled="true" v-model="formData.parent_id" :clearable="false" placeholder="automatically filled" />
			</uni-forms-item>
			<uni-forms-item name="permission" label="permission list" style="margin-bottom: 60px;">
				<uni-data-checkbox :multiple="true" v-model="formData.permission" collection="uni-id-permissions" field="permission_name as text, permission_id as value" />
				<view class="uni-form-item-tips" style="margin-top: 20px;margin-bottom: 20px;">
					When the user has the permissions selected above, he can access this menu. You are advised to configure permissions only for submenus. The parent menu is automatically included. If you do not select permission, only the super administrator can access the menu
				</view>
			</uni-forms-item>
			<uni-forms-item name="enable" label="in use" style="top: 30px;">
				<switch @change="binddata('enable', $event.detail.value)" :checked="formData.enable" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button type="primary" class="uni-button" @click="submitForm" style="width: 100px;">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;"><button class="uni-button" tyle="width: 100px;">Return</button></navigator>
			</view>
		</uni-forms>
		<uni-popup class="icon-modal-box" ref="iconPopup" type="center">
			<view class="icon-modal icon-modal-pc">
				<Icons :tag="false" :fix-window="false"/>
			</view>
		</uni-popup>
	</view>
</template>

<script>
	import validator from '@/js_sdk/validator/opendb-admin-menus.js';
	import Icons from '../icons/icons.vue'
	import {
		mapActions
	} from 'vuex'

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'opendb-admin-menus';

	function getValidator(fields) {
		let result = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				result[key] = validator[key]
			}
		}
		return result
	}

	export default {
		components: {
			Icons
		},
		data() {
			return {
				formData: {
					"menu_id": "",
					"name": "",
					"icon": "",
					"url": "",
					"sort": null,
					"parent_id": "",
					"permission": [],
					"enable": true
				},
				rules: {
					...getValidator(["menu_id", "name", "icon", "url", "sort", "parent_id", "permission", "enable"])
				}
			}
		},
		onLoad(e) {
			if (e.parent_id) {
				this.formData.parent_id = e.parent_id
			}
		},
		methods: {
			...mapActions({
				init: 'app/init'
			}),

			/**
			 * trigger form submission
			 */
			submitForm() {
				this.$refs.form.submit();
			},

			/**
			 * form submission
			 * @param {Object} event callback value Function(callback:{value,errors})
			 */
			submit(event) {
				const {
					value,
					errors
				} = event.detail

				// form verification failure will be report to users, end the submission progress
				if (errors) {
					return
				}
				uni.showLoading({
					title: 'Submitting...',
					mask: true
				})
				// use uni-clientDB to submit data
				db.collection(dbCollectionName).add(value).then((res) => {
					uni.showToast({
						title: 'Add successfully'
					})
					setTimeout(() => uni.navigateBack(), 500)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Service query failed.',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			},
			showIconPopup() {
				this.$refs.iconPopup.open()
			}
		}
	}
</script>
<style scoped>
	.icon-modal-box {
		padding-top: var(--top-window-height);
	}

	.icon-modal {
		width: 350px;
		background-color: #fff;
		height: 500px;
		overflow-y: scroll;
	}

	@media screen and (min-width: 768px) {
		.icon-modal-pc {
			width: 600px;
		}
	}
</style>
