<!-- This page is to add new options to single/multi-choice questions.
	 It is achieved by inserting input in the first column and changing the switch to set the correct answer-->
<template>
	<view class="uni-container">
		<uni-forms ref="form" :value="formData" validateTrigger="bind">
			<uni-forms-item name="title" label="Content" required>
				<uni-easyinput v-model="formData.title" trim="both" />
			</uni-forms-item>
			<uni-forms-item name="is_correct" label="Correct Answer">
				<switch @change="binddata('is_correct', $event.detail.value)" :checked="formData.is_correct" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button type="primary" class="uni-button" style="width: 100px;" @click="submit">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;">
					<button class="uni-button" style="width: 100px;">Return</button>
				</navigator>
			</view>
		</uni-forms>
	</view>
</template>

<script>
	import {
		validator
	} from '../../js_sdk/validator/opendb-vote-option.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'grp-vote-option';

	function getValidator(fields) {
		let reuslt = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				reuslt[key] = validator[key]
			}
		}
		return reuslt
	}

	export default {
		data() {
			return {
				formData: {
					"question_id": null,
					"title": "",
					"is_correct": null
				},
				formOptions: {},
				rules: {
					...getValidator(["question_id", "title", "is_correct"])
				},
				question_id: '', // quiz id
				question_title: "" // quiz title
			}
		},
		onLoad(e) {
			this.question_id = e.question_id
			this.question_title = e.question_title
			this.formData.question_id = this.question_id
			uni.setNavigationBarTitle({
				title: "Add new option[" + this.question_title + "]"
			})
		},
		onReady() {
			this.$refs.form.setRules(this.rules)
		},
		methods: {
			/**
			 * triggers the submit form action
			 */
			submit() {
				uni.showLoading({
					mask: true
				})
				this.$refs.form.submit().then((res) => {
					// this.submitForm(res)
					this.submitForm(this
						.formData) // Here we submit th form data because the verified res data will leave out the questionnaire_id automatically. 
				}).catch((errors) => {
					uni.hideLoading()
				})
			},

			submitForm(value) {
				// use clientDB to submit data
				db.collection(dbCollectionName).add(value).then((res) => {
					uni.showToast({
						title: 'Add successfully'
					})
					setTimeout(() => uni.navigateBack(), 100)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'Server apply failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			}
		}
	}
</script>
