<!-- This page is the same as the add page, except that the former set option data is reserved. 
	 When changes are made, the form will be submit and update the data.-->
<template>
	<view class="uni-container">
		<uni-forms ref="form" :value="formData" validateTrigger="bind">
			<uni-forms-item name="title" label="Option Content" required>
				<uni-easyinput v-model="formData.title" trim="both" />
			</uni-forms-item>
			<uni-forms-item name="is_correct" label="Is Correct?">
				<switch @change="binddata('is_correct', $event.detail.value)" :checked="formData.is_correct" />
			</uni-forms-item>
			<view class="uni-button-group">
				<button type="primary" class="uni-button" style="width: 100px;" @click="submit">Submit</button>
				<navigator open-type="navigateBack" style="margin-left: 15px;">
					<button class="uni-button" style="width: 100px;">Return</button>
				</navigator>
			</view>
		</uni-forms>
	</view>
</template>

<script>
	import {
		validator
	} from '../../js_sdk/validator/opendb-vote-option.js';

	const db = uniCloud.database();
	const dbCmd = db.command;
	const dbCollectionName = 'grp-vote-option';

	function getValidator(fields) {
		let reuslt = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				reuslt[key] = validator[key]
			}
		}
		return reuslt
	}

	export default {
		data() {
			return {
				formData: {
					"question_id": null,
					"title": "",
					"is_correct": null
				},
				formOptions: {},
				rules: {
					...getValidator(["question_id", "title", "is_correct"])
				}
			}
		},
		onLoad(e) {
			const id = e.id
			this.formDataId = id
			this.getDetail(id)
		},
		onReady() {
			this.$refs.form.setRules(this.rules)
		},
		methods: {
			/**
			 * trigger form submission action
			 */
			submit() {
				uni.showLoading({
					mask: true
				})
				this.$refs.form.submit().then((res) => {
					this.submitForm(res)
				}).catch((errors) => {
					uni.hideLoading()
				})
			},

			submitForm(value) {
				// use clientDB to submit dat
				db.collection(dbCollectionName).doc(this.formDataId).update(value).then((res) => {
					uni.showToast({
						title: 'Modify successfully'
					})
					setTimeout(() => uni.navigateBack(), 100)
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'service application failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			},

			/**
			 * Access form data
			 * @param {Object} id
			 */
			getDetail(id) {
				uni.showLoading({
					mask: true
				})
				db.collection(dbCollectionName).doc(id).get().then((res) => {
					const data = res.result.data[0]
					if (data) {
						this.formData = data
					}
				}).catch((err) => {
					uni.showModal({
						content: err.message || 'service application failed',
						showCancel: false
					})
				}).finally(() => {
					uni.hideLoading()
				})
			}
		}
	}
</script>
