<!-- This page is use to give an overview of all options.
	 Under the table, there will also be a pie chart shat shows the portion of number that shoose eah question -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" collection="grp-vote-option" field="_id, question_id,title,is_correct"
				:where="where" page-data="replace" :orderby="orderby" :getcount="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error,options}"
				:options="options" loadtime="manual">
				<uni-table ref="table" :loading="loading" :emptyText="error.message || 'No more data!'" border stripe>
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center" sortable @sort-change="sortChange($event, 'title')">Option Content
						</uni-th>
						<uni-th align="center" sortable @sort-change="sortChange($event, 'is_correct')">Correct Answer
						</uni-th>
						<uni-th align="center" sortable>Selected student number</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center"> {{item.title}} </uni-td>
						<uni-td align="center"> {{item.is_correct == true ? '✅' : '❌'}} </uni-td>
						<uni-td align="center">
							<log-count ref="logCount" :id="item._id" />
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
			<!--logo-->
			<view class="charts-box">
				<qiun-data-charts type="pie" :localdata="localdata" :loadingType="2" background="none" />
			</view>
		</view>
	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-option.js';
	import
	logCount
	from './logCount.vue';
	const db = uniCloud.database()
	// database search config
	const dbOrderBy = '' // order field
	const dbSearchFields = [] // vague field
	// paging config
	const pageSize = 20
	const pageCurrent = 1

	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	export default {
		components: {
			"log-count": logCount
		},
		data() {
			return {
				query: '',
				where: '',
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				question_id: '', // quiestion id
				question_title: "", // queston name
				localdata: []
			}
		},
		onLoad(e) {
			this.question_id = e.question_id
			this.question_title = e.question_title
			// console.log("this.question_title: ",this.question_title);
			this.where = "question_id == '" + this.question_id + "'"
			uni.setNavigationBarTitle({
				title: "Option List [" + this.question_title + "]"
			})
		},
		onReady() {
			this.$refs.udb.loadData()
			//get the pie chart
			this.InitChart();
		},
		methods: {
			async InitChart() {
				var that = this;
				var list = [];
				const db = uniCloud.database()
				const optionList = await db.collection('grp-vote-option')
					.where({
						"question_id": this.question_id
					}).get();
				for (var i = 0; i < optionList.result.data.length; i++) {
					//get the vote count
					const res = await db.collection('grp-vote-log')
						.where({
							"option_id": optionList.result.data[i]._id
						})
						.get({
							getCount: true
						})
					list.push({
						value: res.result.count,
						text: optionList.result.data[i].title
					})
				}
				that.localdata = list;
			},
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			search() {
				const newWhere = this.getWhere()
				this.where = newWhere
				this.loadData()
			},
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {
				this.selectedIndexs.length = 0
				this.$refs.table.clearSelection()
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear represents whether to clear page when refreshing，true means refresh and return to page 1, default value is true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multiple selection process
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			// multi-delete
			delTable() {
				this.$refs.udb.remove(this.selectedItems())
			},
			// multi-selection
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(id) {
				this.$refs.udb.remove(id)
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$refs.table.clearSelection()
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
	.charts-box {
		width: 100%;
		height: 300px;
	}
</style>
