<!-- This is a simple component returning the number of syudents that choose current option. -->
<template>
	<view>
		{{count}}
	</view>
</template>

<script>
	export default {
		name: 'logCount',
		props: {
			id: {
				type: String,
				default: ""
			}
		},
		data() {
			return {
				count: 0
			};
		},
		async created() {
			await this.init()
		},
		methods: {
			async init() {
				const db = uniCloud.database()	
				const res = await db.collection('grp-vote-log')
					.where({
						"option_id": this.id
					})
					.get({
						getCount: true
					})
				console.log("res", res.result.count);
				this.count = res.result.count;
			}
		}
	}
</script>
