<!-- displays the revisable options in a table -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title"></view>
				<view class="uni-sub-title"></view>
			</view>
			<view class="uni-group">
				<button class="uni-button" type="default" size="mini" @click="add">Add</button>
				<button class="uni-button" type="warn" size="mini" @click="save">Save</button>
			</view>
		</view>
		<view class="uni-container">
			<uni-table ref="table" :loading="loading" :emptyText="'No more data!'" border stripe>
				<uni-tr>
					<!-- table column name -->
					<uni-th align="center" sortable @sort-change="sortChange($event, 'title')">Option Content</uni-th>
					<uni-th align="center" sortable @sort-change="sortChange($event, 'is_correct')">Correct Answer
					</uni-th>
					<uni-th align="center">operate</uni-th>
				</uni-tr>
				<uni-tr v-for="(item,index) in tableData" :key="index">
					<uni-td align="center">
						<input type="text" v-model="item.title" placeholder="input text" />
					</uni-td>
					<uni-td align="center">
						<switch :checked="item.is_correct == true" @change="switchChange($event,item,index)" />
					</uni-td>
					<uni-td align="center">
						<view class="uni-group">
							<button @click="confirmDelete(index)" class="uni-button" size="mini"
								type="warn">Delete</button>
						</view>
					</uni-td>
				</uni-tr>
			</uni-table>
		</view>
	</view>
</template>

<script>
	import {
		enumConverter
	} from '../../js_sdk/validator/opendb-vote-option.js';
	import
	logCount
	from './logCount.vue';
	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = '' // sorted field
	const dbSearchFields = [] // searching field
	// Paging
	const pageSize = 20
	const pageCurrent = 1

	const orderByMapping = {
		"ascending": "asc",
		"descending": "desc"
	}

	export default {
		components: {
			"log-count": logCount
		},
		data() {
			return {
				query: '',
				where: '',
				orderby: dbOrderBy,
				orderByFieldName: "",
				selectedIndexs: [],
				options: {
					pageSize,
					pageCurrent,
					...enumConverter
				},
				imageStyles: {
					width: 64,
					height: 64
				},
				question_id: '',
				question_title: "",
				tableData: [],
				loading: true,
				question: {},
				deleteIds: [],
				validNum: 0,
			}
		},
		onLoad(e) {
			this.deleteIds = [];
			this.question_id = e.question_id
			this.question_title = e.question_title
			this.where = "question_id == '" + this.question_id + "'"
			uni.setNavigationBarTitle({
				title: "Option List [" + this.question_title + "]"
			})
		},
		onReady() {
			this.fetchTableData();
			this.getQuestionInfo();
		},
		methods: {
			async save() {
				// verifications
				for (var i = 0; i < this.tableData.length; i++) {
					if (!this.tableData[i].title) {
						uni.showToast({
							title: "Option Content is required!",
							icon: "none"
						})
						return
					}
				}
				//2.
				var valid = false;
				this.validNum = 0;
				for (var i = 0; i < this.tableData.length; i++) {
					if (this.tableData[i].is_correct == true) {
						valid = true;
						this.validNum += 1;
					}
				}
				if (this.validNum > 1 && this.question.type == "radio") {
					uni.showToast({
						title: "The question can only have one correct answer!",
						icon: "none"
					})
					return
				}
				if (valid == false) {
					uni.showToast({
						title: "The question must have one correct answer!",
						icon: "none"
					})
					return
				}

				//saving
				for (var i = 0; i < this.tableData.length; i++) {
					if (!this.tableData[i]._id) {
						//add database
						await db.collection("grp-vote-option").add(this.tableData[i]);
					} else {
						//update database
						await db.collection("grp-vote-option").doc(this.tableData[i]._id).update({
							title: this.tableData[i].title,
							is_correct: this.tableData[i].is_correct
						});
					}
				}
				//delete
				for (var i = 0; i < this.deleteIds.length; i++) {
					await db.collection("grp-vote-option").doc(this.deleteIds[i]).remove();
				}
				uni.showToast({
					title: "Successfully saved!",
					icon: "none"
				})
				setTimeout(function() {
					uni.navigateBack({
						delta: 1
					})
				}, 100)
			},
			switchChange(e, item, index) {
				item.is_correct = e.detail.value;
			},
			add() {
				this.tableData.push({
					title: "",
					question_id: this.question_id,
					is_correct: false
				})
			},
			async getQuestionInfo() {
				const question = await db.collection("grp-vote-question").doc(this.question_id).get();
				if (question.result.data.length > 0)
					this.question = question.result.data[0];
			},
			//option access
			async fetchTableData() {
				this.loading = true;
				const optionList = await db.collection("grp-vote-option").where({
					question_id: this.question_id
				}).get();
				this.tableData = optionList.result.data;
				this.loading = false;
			},
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			search() {
				const newWhere = this.getWhere()
				this.where = newWhere
				this.loadData()
			},
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {
				this.selectedIndexs.length = 0
				this.$refs.table.clearSelection()
				this.$refs.udb.loadData({
					current: e.current
				})
			},
			navigateTo(url, clear) {
				// clear decides whther to reset page number whenrefreshing, truemean returning to page 1，default value is true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multiple items selected
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			// multiple items deleted
			delTable() {
				var selectList = this.selectedItems();
				this.$refs.udb.remove(this.selectedItems())
			},
			// multiple selections
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(id) {
				if (this.tableData[id]._id)
					this.deleteIds.push(this.tableData[id]._id);
				this.tableData.splice(id, 1);
			},
			sortChange(e, name) {
				this.orderByFieldName = name;
				if (e.order) {
					this.orderby = name + ' ' + orderByMapping[e.order]
				} else {
					this.orderby = ''
				}
				this.$refs.table.clearSelection()
				this.$nextTick(() => {
					this.$refs.udb.loadData()
				})
			}
		}
	}
</script>
<style>
</style>
