<!-- 2.12 13:34 Peggy -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group">
				<view class="uni-title">Update Password</view>
			</view>
		</view>
		<view class="uni-container">
			<uni-forms ref="resetPwdForm" v-model="password" :rules="rules" @submit="submit">
				<uni-forms-item label="Old password" name="oldPassword" labelWidth="85">
					<input class="uni-input-border" type="password" placeholder="Old Password" v-model="password.oldPassword" />
				</uni-forms-item>

				<uni-forms-item label="New Password" name="newPassword" labelWidth="85">
					<input class="uni-input-border" :password="showPassword" placeholder="New password" v-model="password.newPassword" />
					<text class="uni-icon-password-eye pointer" :class="[!showPassword ? 'uni-eye-active' : '']" @click="changePassword">&#xe568;</text>
				</uni-forms-item>

				<uni-forms-item label="Confirm New Password" name="passwordConfirmation" labelWidth="85" :errorMessage="errorMessage">
					<input @confirm="submitForm" class="uni-input-border" :password="showPasswordAgain"
					 placeholder="Confirm New Password" v-model="password.passwordConfirmation" />
					<text class="uni-icon-password-eye pointer" :class="[!showPasswordAgain ? 'uni-eye-active' : '']" @click="changePasswordAgain">&#xe568;</text>
				</uni-forms-item>
				<view class="uni-button-group pointer">
					<button class="uni-button uni-button-full" type="primary" :disabled="isLoading" @click="submitForm">Save</button>
					<button v-if="hasBackButton" class="uni-button login-button-width" type="default" :disabled="isLoading" @click="back">Return</button>
				</view>
			</uni-forms>
		</view>
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations
	} from 'vuex'
	import config from '@/admin.config.js'
	export default {
		data() {
			return {
				isLoading: false,
				showPassword: true,
				showPasswordAgain: true,
				errorMessage: '',
				password: {
					oldPassword: '',
					newPassword: '',
					passwordConfirmation: ''
				},
				rules: {
					oldPassword: {
						rules: [{
							required: true,
							errorMessage: 'Please input the old password!'
						}]
					},
					newPassword: {
						rules: [{
								required: true,
								errorMessage: 'Please input new password!'
							},
							{
								minLength: 6,
								errorMessage: 'The length of the password should be bigger that {minLength}'
							}
						]
					},
					passwordConfirmation: {
						rules: [{
								required: true,
								errorMessage: 'Please input the confirm password'
							},
							{
								minLength: 6,
								errorMessage: 'The length of the password should be bigger that {minLength}'
							}
						]
					}
				}
			}
		},
		props: {
			hasBackButton: {
				type: Boolean,
				default: false
			},
			isPhone: {
				type: Boolean,
				default: true
			}
		},
		computed: {
			...mapState('user', ['userInfo'])
		},
		methods: {
			...mapMutations({
				removeToken(commit) {
					commit('user/REMOVE_TOKEN')
				}
			}),
			submit(event) {
				const {
					errors,
					value
				} = event.detail
				if (errors) return
				if (value.newPassword === value.passwordConfirmation) {
					this.save(value)
				} else {
					this.errorMessage = 'The new password and confirm password should be the same!'
				}
			},
			confirmForm(name, value) {
				this.binddata(name, value)
				this.submitForm()
			},
			submitForm() {
				this.errorMessage = ''
				this.$refs.resetPwdForm.submit()
			},
			save(formData) {
				this.isLoading = true
				this.$request('updatePwd', formData, {
					functionName: 'uni-id-cf'
				}).then(res => {
					this.isLoading = false
					if (res.code === 0) {
						uni.showModal({
							title: 'Success',
							showCancel: false,
							success: (res) => {
								if (res.confirm) {
									this.$emit('closePasswordPopup')
									this.removeToken()
									uni.reLaunch({
										url: config.login.url
									})
								}
							}
						});
					} else {
						uni.showToast({
							title: res.message,
							icon: 'none',
							duration: 2000
						})
					}
				}).catch(res => {

				}).finally(err => {
					this.isLoading = false
				})
			},
			back() {
				uni.navigateBack()
			},
			changePassword: function() {
				this.showPassword = !this.showPassword;
			},
			changePasswordAgain: function() {
				this.showPasswordAgain = !this.showPasswordAgain;
			}
		}
	}
</script>


<style>
	.uni-forms {
		width: 100%;
	}

	.login-button-width {
		width: 184px;
	}
</style>
