<!-- officially provided -->
<!-- displays the namelist of all users -->
<template>
	<view>
		<view class="uni-header">
			<view class="uni-group hide-on-phone">
				<view class="uni-title">User Management</view>
				<view class="uni-sub-title"></view>
			</view>
			<view class="uni-group">
				<button class="uni-button" type="primary" size="mini" @click="navigateTo('./add')">add</button>
				<button class="uni-button" type="warn" size="mini" @click="delTable"
					:disabled="!selectedIndexs.length">Multi-Delete</button>
				<!-- #ifdef H5 -->
				<download-excel class="hide-on-phone" :fields="expExcel.json_fields" :data="expData"
					:type="expExcel.type" :name="expExcel.filename">
					<button class="uni-button" type="primary" size="mini">Export Excel</button>
				</download-excel>
				<!-- #endif -->

				<button type="primary" size="mini" style="margin-left: 10px;" @click="getData">Import Excel</button>
			</view>
		</view>
		<view class="uni-container">
			<unicloud-db ref="udb" @load="onqueryload" collection="uni-id-users,uni-id-roles" :options="options"
				:where="where" field="_id,username,role{role_id,role_name},email,status,register_date"
				page-data="replace" :orderby="orderby" :getcount="true" :page-size="options.pageSize"
				:page-current="options.pageCurrent" v-slot:default="{data,pagination,loading,error}">
				<uni-table :loading="loading" :emptyText="error.message || 'No more data!'" border stripe type="selection"
					@selection-change="selectionChange">
					<uni-tr>
						<!-- table column name -->
						<uni-th align="center">username</uni-th>
						<uni-th align="center">role</uni-th>
						<uni-th align="center">email</uni-th>
						<uni-th align="center">status</uni-th>
						<uni-th width="170" align="center">register time</uni-th>
						<uni-th width="204" align="center">operation</uni-th>
					</uni-tr>
					<uni-tr v-for="(item,index) in data" :key="index">
						<uni-td align="center">{{item.username}}</uni-td>
						<uni-td align="center">{{item.role}}</uni-td>
						<uni-td align="center">{{item.email}}</uni-td>
						<uni-td align="center">{{item.status}}</uni-td>
						<uni-td align="center">{{item.register_date}}</uni-td>
						<uni-td align="center">
							<view class="uni-group">
								<button @click="navigateTo('./edit?id='+item._id, false)" class="uni-button" size="mini"
									type="primary">modify</button>
								<button @click="confirmDelete(item)" class="uni-button" size="mini"
									type="warn">delete</button>
							</view>
						</uni-td>
					</uni-tr>
				</uni-table>
				<view class="uni-pagination-box">
					<picker class="select-picker" mode="selector" :value="pageSizeIndex" :range="pageSizeOption"
						@change="changeSize">
						<button type="default" size="mini" :plain="true">
							<text>{{pageSizeOption[pageSizeIndex]}} Page</text>
							<uni-icons class="select-picker-icon" type="arrowdown" size="12" color="#999"></uni-icons>
						</button>
					</picker>
					<uni-pagination show-icon :page-size="pagination.size" v-model="pagination.current"
						:total="pagination.count" @change="onPageChanged" />
				</view>
			</unicloud-db>
		</view>
		<!-- #ifndef H5 -->
		<fix-window />
		<!-- #endif -->
	</view>
</template>

<script>
	import validator from '@/js_sdk/validator/uni-id-users.js';

	function getValidator(fields) {
		let result = {}
		for (let key in validator) {
			if (fields.includes(key)) {
				result[key] = validator[key]
			}
		}
		return result
	}

	const db = uniCloud.database()
	// db query configuration
	const dbOrderBy = 'register_date desc' // sorted field
	const dbSearchFields = ['username', 'role_name', 'email'] // searching field list
	// paging configuration
	const pageSize = 20
	const pageCurrent = 1

	const dbCmd = db.command;
	const collection_newUsers = db.collection('uni-id-users')

	function urlTobase64(url, callback) {
		uni.request({
			url: url,
			method: 'GET',
			responseType: 'arraybuffer',
			success: res => {
				let base64 = uni.arrayBufferToBase64(res.data); // turn arraybuffer into base64
				callback(base64);
			}
		});
	}

	import {
		mapState
	} from 'vuex'
	export default {
		data() {
			return {
				result: '',
				excelContent: [],
				submit_excelContent: [],
				submit_account: {
					"username": "",
					"password": "",
					"email": "",
					"role": "student",
					"status": true,
				},
				query: '',
				where: '',
				orderby: dbOrderBy,
				options: {
					pageSize,
					pageCurrent
				},
				selectedIndexs: [], //批量选中的项
				pageSizeIndex: 0,
				pageSizeOption: [20, 50, 100, 500],
				expData: [],
				expExcel: {
					filename: "user.xls",
					type: "xls",
					json_fields: {
						"username": "username",
						"role": "role",
						"status": "status",
						"create time": "register_date"
					}
				}
			}
		},
		computed: {
			...mapState('user', ['userInfo']),
		},
		watch: {
			pageSizeIndex: {
				immediate: true,
				handler(val, old) {
					this.options.pageSize = this.pageSizeOption[val]
					this.options.pageCurrent = 1
				}
			}
		},
		methods: {
			async createMultiAccount() {
				for (let i = 0; i < this.submit_excelContent.length; i++) {
					this.submitForm(this.submit_excelContent[i])
					// console.log(this.submit_excelContent[i])
				}
			},
			submitForm(params) {
				uniCloud.callFunction({
					name: 'uni-id-cf',
					data: {
						action: 'registerStudent',
						params,
					},
					success: ({
						result
					}) => {
						console.log(result);
						this.result = result
					}
				})

			},

			getData() {
				//get the excel file to be uploaded
				uni.chooseFile({
					count: 1,
					extension: ['.xls', '.xlsx', '.csv'],
					success: res => {
						//此处是我将上一步的文件转base64做了全局
						urlTobase64(res.tempFilePaths[0], base => {
							//此处采用的是uni-admin封装的uniCloud.callfunction
							uniCloud.callFunction({
									name: 'getExcelToJson',
									data: {
										data: base,
										sheetList: [{
											index: 0,
											keys: ['username','nickname', 'password', 'email'],
											keysIndex: 0,
											startIndex: 1,
											endIndex: 50
										}]
									}
								})
								.then(res => {
									this.excelContent = res.result.data
									for (let i = 0; i < this.excelContent.length; i++) {
										var submit_account = {
											"username": "",
											"nickname": "",
											"password": "",
											"email": "",
											"status": true,
										}
										submit_account.username = res.result.data[i].username.toString()
										submit_account.nickname = res.result.data[i].nickname.toString()
										submit_account.password = res.result.data[i].password.toString()
										submit_account.email = res.result.data[i].email.toString()
										this.submit_excelContent.push(submit_account)
									}
									this.createMultiAccount()
								});
						});
					}
				});
			},
			onqueryload(data) {
				for (var i = 0; i < data.length; i++) {
					let item = data[i]
					item.role = item.role.map(item => item.role_name).join('、')
					item.status = this.parseUserStatus(item.status)
					item.register_date = this.$formatDate(item.register_date)
				}
				this.expData = data
			},
			changeSize(e) {
				this.pageSizeIndex = e.detail.value
			},
			getWhere() {
				const query = this.query.trim()
				if (!query) {
					return ''
				}
				const queryRe = new RegExp(query, 'i')
				return dbSearchFields.map(name => queryRe + '.test(' + name + ')').join(' || ')
			},
			search(e) {
				const newWhere = this.getWhere()
				const isSameWhere = newWhere === this.where
				this.where = newWhere
				if (isSameWhere) { // under same conditions, refresh mannually
					this.loadData()
				}
			},
			loadData(clear = true) {
				this.$refs.udb.loadData({
					clear
				})
			},
			onPageChanged(e) {
				this.options.pageCurrent = e.current
			},
			navigateTo(url, clear) { 
				// clear means whether to clear the page number when refreshing，true means return to page 1 after refreshing，default true
				uni.navigateTo({
					url,
					events: {
						refreshData: () => {
							this.loadData(clear)
						}
					}
				})
			},
			// multiple items processing
			selectedItems() {
				var dataList = this.$refs.udb.dataList
				return this.selectedIndexs.map(i => dataList[i]._id)
			},
			// delete multiple items selected
			delTable() {
				const ids = this.selectedItems()
				const currentUserId = this.userInfo._id
				if (ids.includes(currentUserId)) {
					uni.showToast({
						icon: 'none',
						title: 'You can not delete current your own account',
						duration: 1500
					})
					return
				}
				this.$refs.udb.remove(ids)
			},
			// multiple items selected
			selectionChange(e) {
				this.selectedIndexs = e.detail.index
			},
			confirmDelete(item) {
				const currentUserId = this.userInfo._id
				if (currentUserId === item._id) {
					uni.showToast({
						icon: 'none',
						title: 'Admin is not allowed to self-delete',
						duration: 1500
					})
					return
				}
				this.$refs.udb.remove(item._id)
			},
			parseUserStatus(status) {
				if (status === 0) {
					return 'in use'
				} else if (status === 1) {
					return 'forbidden'
				} else if (status === 2) {
					return 'in verification'
				} else if (status === 3) {
					return 'denied'
				} else {
					return 'in use'
				}
			}
		}
	}
</script>
<style>
	/* #ifndef H5 */
	page {
		padding-top: 85px;
	}

	/* #endif */
</style>
