<!-- This is the first page after logging in, intrductions and contacts will be displayed to offer user an overview. -->
<template>
    <scroll-view style="padding: 20px;box-sizing: border-box;">
		<h1>Welcome to Quiz App!</h1>
		
		<rich-text :nodes="strings"></rich-text>
		<text>\n\n</text>
		<view class="uni-padding-wrap">
		            <view class="uni-title uni-common-mt">
		                <text style = "font-weight:bold;text-decoration:underline;">Introduction</text>
		            </view>
		            <view class="uni-common-mt" style="background:#FFF; padding:20rpx;">
		                <rich-text :nodes="nodes"></rich-text>
		            </view>
		            <view class="uni-title uni-common-mt">
						<text style = "font-weight:bold;text-decoration:underline;">See Project Detail on Gitlab</text>
		            </view>
		            <view class="uni-common-mt" style="background:#FFF; padding:20rpx;">
						
		                <rich-text nodes="https://gitlab.com/peggy2312/quiz-app"></rich-text>
		            </view>
					
					<view class="uni-title uni-common-mt">
					    <text style = "font-weight:bold;text-decoration:underline;">Contact Information</text>
					</view>
					<view class="uni-common-mt" style="background:#FFF; padding:20rpx;margin-left: 20px;margin-right: 20px;">
					    <text>Yijing Jiang: biyyj10@nottingham.edu.cn \n Yinxiu Wang: scyyw8@nottingham.edu.cn \n Jade LAI TONG scyjl10@nottingham.edu.cn \n Christopher SUHERMAN scycs3@nottingham.edu.cn \n Jeffrey ANDERSON scyja1@nottingham.edu.cn</text>
					</view>
					
		        </view>
		<!-- #ifndef H5 -->
		<fix-window />
		<!-- #endif -->
    </scroll-view>
</template>

<script>
	import { version } from '../../package.json'
    export default {
        data() {
                return {
                    nodes: [{
                        name: 'div',
                        attrs: {
                            class: 'div-class',
                            style: 'line-height: 30px;margin-left: 20px;margin-right: 20px;'
                        },
                        children: [{
                            type: 'text',
                            text: 'This quiz app is expected to be a simple, lightweight and portable web application, with which teacher can interact with students through creating question or quizzes for students to answer.'
                        }]
                    }],
					
                    strings: '<div style="text-align:center;"><img src="../../static/logo.png" style="align:center;width: 150px; height:125px"/></div>'
                }
            },
        onLoad() {},
        methods: {}
    }
</script>

<style>
	/* #ifndef H5 */
	page {
		padding-top: 85px;
	}
	/* #endif */
</style>
